﻿
    @Styles.Render("~/Content/sss")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        
        body{margin-top:50px;
       

        }
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 10px }
.panel-body .table {margin-bottom: 0px; }
    </style>
@{
    var AdminCredential = (SMFIScholarshipSystem.Models.GetAdminCredrentials)Session["AdminCredentials"];
    if (AdminCredential != null)
    {
     <div style="margin-left:2%">
         <div class="row">
             <div class="col-md-2">
                 <br />
                 <br />
                 <div class="panel panel-primary">

                     <div class="panel-heading"><p>Hello, @AdminCredential.AdminFname </p></div>

                     <div class="panel-body">
                         “You are the grand estate and administrator of — now.”
                         ― Bryant McGill
                     </div>
                 </div>
                 <div class="panel-group" id="accordion">

                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                     <span class="glyphicon glyphicon-list-alt">
                                     </span> @Html.ActionLink("All Applicants", "ViewAllStudents", "ShowAllStudentAdmin")

                                 </a>

                             </h4>
                         </div>
                         <div id="collapseOne" class="panel-collapse collapse in">
                             <div class="panel-body">
                                 <table class="table">
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-time"></span>@Html.ActionLink("Pending Student", "Index", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-user text-success"></span>@Html.ActionLink("Accepted Applications", "AcceptedStudents", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-user text-danger"></span>@Html.ActionLink("Declined Applications", "DeclinedStudents", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>

                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-user text-warning"></span>@Html.ActionLink("Application Approval", "StudentComparison", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-file text-info"></span>@Html.ActionLink("Ready for Exam", "ForExamination", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="	glyphicon glyphicon-list-alt text-success text-primary"></span>@Html.ActionLink("Exam Result", "ExamResults", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Applicants For Interview", "interviewResults", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Applicants For Home Visit", "viewinterviewdetails", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Qualified Applicants", "FinalApproval", "ShowAllStudentAdmin")
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                     <span class="glyphicon glyphicon-th">
                                     </span>Maintenance
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseTwo" class="panel-collapse collapse">
                             <div class="panel-body">
                                 <table class="table">
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","Interviewer")">SM User</a>
                                         </td>
                                     </tr>

                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","QuestionnaireCategory")">Interview Question Category</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","Questionnaire")">Interview Question</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","School")">School</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","MaritalStatus")">Marital Status</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","Religion")">Religion</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","EducationalAttainment")">Educational Attainment</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","AcademicAwardLevel")">Academic Award Level</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("Index","SchoolCourses")">School Courses</a>
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                     <span class="glyphicon glyphicon-user">
                                     </span>Account
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseThree" class="panel-collapse collapse">
                             <div class="panel-body">
                                 <table class="table">
                                     <tr>
                                         <td>
                                             <a href="@Url.Action("LogoutAdmin", "userAuthentication")" class="btn btn-warning">Logout</a>
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                     <span class="glyphicon glyphicon-file">
                                     </span>Reports
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseFour" class="panel-collapse collapse">
                             <div class="panel-body">
                                 <table class="table">
                                     <tr>
                                         <td></td>
                                     </tr>
                                     x
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                     <span class="glyphicon glyphicon-flash">
                                     </span>Standards
                                 </a>
                             </h4>
                         </div>
                         <div id="collapseFive" class="panel-collapse collapse">
                             <div class="panel-body">
                                 <table class="table">
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-map-marker"></span><a href="@Url.Action("QualifiedArea", "ShowAllStudentAdmin")">Qualified Areas</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicons glyphicon-euro"></span><a href="@Url.Action("QualifiedIncome", "ShowAllStudentAdmin")">Family Income</a>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>
                                             <span class="glyphicon glyphicon-th-list"></span><a href="@Url.Action("Qualifiedgwa", "ShowAllStudentAdmin")">GWA</a>
                                         </td>
                                     </tr>

                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-md-10">
                 <div ng-app="MyApplication">
                     <br />
                     <br />
                     @RenderBody()
                 </div>
             </div>
         </div>
     </div>
    
    }

}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@

    
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
   <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>
<script src="~/Scripts/angular-material/angular-material.min.js"></script>
<script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/Startup.js"></script>

    @RenderSection("scripts", required: false)
