﻿<div class="container">
    @Styles.Render("~/Content/sss")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin-top: 50px;
        }

        .glyphicon {
            margin-right: 10px;
        }

        .panel-body {
            padding: 0px;
        }

            .panel-body table tr td {
                padding-left: 15px;
            }

            .panel-body .table {
                margin-bottom: 0px;
            }
    </style>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <br />
            <br />
            <div class="panel panel-primary">
                @{
                    var InterviewerCredential = (SMFIScholarshipSystem.Models.GetHomeVisitorCredentials)Session["InterviewerCredentials"];
                    if (InterviewerCredential != null)
                    {
                        <div class="panel-heading"><p>Hello!! @InterviewerCredential.HomeVisitorName </p></div>
                    }

                }
                <div class="panel-body">Approver</div>
            </div>
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-list-alt">
                                </span>Interview
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user text-primary"></span>@Html.ActionLink("Students Approval", "Index", "ApproveStatusForStudent")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="@Url.Action("LogoutInterviewer", "userAuthentication")" onclick="window.location.reload()" class="btn btn-warning">Logout</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div ng-app="MyApplication">
                <br />
                <br />
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @*<link rel="stylesheet" href="~/Content/bootstrap.min.css">*@

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material/angular-material.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/Startup.js"></script>

    @RenderSection("scripts", required: false)
</div>