﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/style.css">
    <title>Login</title>
    <!-- Bootstrap Core CSS -->
    @*@Styles.Render("~/Content/sss")*@
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom CSS -->
   
</head>
<body ng-app="MyApplication">
 
@RenderBody()

 @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material/angular-material.min.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Startup.js"></script>


</body>
@RenderSection("scripts", required: false)   
</html>


