﻿@{
    ViewBag.Title = "Index";
}


<h2>School Course</h2>

<div ng-controller="schoolcourseController" ng-init="getSchoolCourse()">
    <div class="row">
        <div class="form-group">

            <div class="col-md-1">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class=" glyphicon glyphicon-plus">
                    </i>
                    Add
                </a>
            </div>
        </div>
    </div>
    <br />
    <!-- Add Modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>Add School Course</b></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label class="control-label col-md-2">School Course: </label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newSchoolCourse.CourseName" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">School: </label>
                                    <div class="col-md-10">
                                        <select class="form-control" required="required" ng-model="newSchoolCourse.SchoolID" ng-options="school.SchoolID as school.SchoolName for school in schoolList"></select>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="addNewSchoolCourse()" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i>Add</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Actions</td>
                        <td>School Course ID</td>
                        <td>Course Name</td>
                        <td>School Name</td>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="schoolcours in schoolcourseList | itemsPerPage:10" current-page="currentPage">

                        <td>
                            <a class="btn btn-sm btn-success" ng-click="updateSchoolCourse(schoolcourseList.indexOf(schoolcours))" ng-show="schoolcours.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                            <a class="btn btn-sm btn-warning" ng-click="cancelEdit(schoolcourseList.indexOf(schoolcours))" ng-show="schoolcours.IsEdit"><i class="glyphicon glyphicon-refresh"> </i>Cancel</a>
                            <a class="btn btn-sm btn-warning" ng-click="toggleEdit(schoolcourseList.indexOf(schoolcours))" ng-hide="schoolcours.IsEdit"><i class="glyphicon glyphicon-pencil"> </i>Edit</a>
                            <a class="btn btn-sm btn-danger" ng-click="deleteSchoolCourse(schoolcourseList.indexOf(schoolcours))" ng-hide="schoolcours.IsEdit"> <i class=" glyphicon glyphicon-trash"> </i>Delete</a>
                        </td>

                        <td>
                            {{schoolcours.SchoolCourseID}}
                        </td>

                        <td>
                            <div ng-switch="schoolcours.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="schoolcours.CourseName" />
                                </div>
                                <div ng-switch-default>
                                    {{schoolcours.CourseName}}
                                </div>
                            </div>
                        </td>

                        <td>
                            <div ng-switch="schoolcours.IsEdit">
                                <div ng-switch-when="true">
                                    <select class="form-control" ng-model="schoolcours.SchoolID" ng-options="school.SchoolID as school.SchoolName for school in schoolList">
                                        <option>--Select--</option>

                                    </select>
                                </div>
                                <div ng-switch-default>
                                    {{(schoolList|filter:{'SchoolID':schoolcours.SchoolID}:true)[0].SchoolName }}
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">

        </dir-pagination-controls>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        App.controller('schoolcourseController', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {

            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.currentPage = 1;
            $scope.newSC = null;

            //GET LISt
            $scope.getSchoolCourse = function () {

                $http.post("/SchoolCourses/GetSchoolCourse")
                .success(function (data, status, header, config) {

                    $scope.getSchools();
                    $scope.schoolcourseList = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });

            };


            //ADD
            $scope.addNewSchoolCourse = function () {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var newSchoolCourseData = JSON.stringify($scope.newSchoolCourse);

                $http.post("/SchoolCourses/CreateSchoolCourse", newSchoolCourseData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }

                 $scope.schoolcourseList.push(data.Record);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };
            //UPDATE
            $scope.updateSchoolCourse = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var SchoolCourseData = JSON.stringify($scope.schoolcourseList[index]);

                $http.post("/SchoolCourses/UpdateSchoolCourse", SchoolCourseData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }

                 $scope.schoolcourseList[index] = data.Record;
                 $scope.schoolcourseList[index].IsEdit = false;

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };
            //Get School
            $scope.getSchools = function () {

                $http.post("/ShowMaintenance/GetSchool")
                .success(function (data, status, header, config) {

                    $scope.schoolList = data;


                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });

            };
            //DELETE
            $scope.deleteSchoolCourse = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var SchoolCourseData = JSON.stringify($scope.schoolcourseList[index]);

                $http.post("/SchoolCourses/DeleteSchoolCourse", SchoolCourseData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.schoolcourseList.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };

            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.schoolcourseList[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.schoolcourseList[index].IsEdit = false;
            };

            $scope.index = function (index) {
                $scope.indexvalue = index;
            };
        }]);

    </script>
}

    