﻿@model SMScholars.BLL.ApplicationFormModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container" ng-controller="ApplicationFormController"ng-init="GetReligion();">

        <div class="stepwizard row">
            <center>
                <div class="stepwizard-col setup-panel">

                    <div class="stepwizard-step col-md-2">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Personal Background</p>
                    </div>
                    <div class="stepwizard-step col-md-2">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Academic Background</p>
                    </div>
                    <div class="stepwizard-step col-md-2">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>College Plan</p>
                    </div>
                    <div class="stepwizard-step col-md-2">
                        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                        <p>Family Background</p>
                    </div>
                    <div class="stepwizard-step col-md-2">
                        <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                        <p>Annual Aggregate Family Income</p>
                    </div>



                </div>
            </center>

        </div>
        <form role="form" action="" method="post" name="myform">
            <div class="row setup-content" id="step-1">
                <div class="col-md-7">
                    <h4>Step 1 Personal Background</h4>
                    <label>Name</label>
                    <div class="form-group">

                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="newStudentRegister.LastName" required="required" placeholder="Last Name" />
                        </div>
                        <div class="col-md-4">

                            <input type="text" class="form-control" ng-model="newStudentRegister.FirstName" required="required" placeholder="First Name" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="newStudentRegister.MiddleName" required="required" placeholder="Middle Name" />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Present Address:</label>
                            <input type="text" id="presentAddress" required ng-model="HomeAddress" placeholder="Click this Textbox" data-toggle="modal" data-target="#myHomeAddressModal" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Permanent Address:</label>
                            <input type="text" id="PermanentAddress" required ng-model="PermanentAddress" placeholder="Click this Textbox" data-toggle="modal" data-target="#myPermanentAddressModal" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Religion:</label>
                            <select class="form-control" ng-model="newStudentRegister.ReligionID" ng-options="religion.ReligionID as religion.Name for religion in religions | orderBy:'Name'" required>
                                <option>--SELECT--</option>
                            </select>
                        </div>

                        <div ng-if="newStudentRegister.ReligionID == 34" class="col-md-7">
                            <br />
                            <input type="text" class="form-control" ng-model="newStudentRegister.OtherReligionID" placeholder="Please Enter Your Religion">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label for="email" id="email-ariaLabel">Email:</label>

                            @Html.TextBoxFor(model => model.personalBgs.Email, new { @class = "form-control", data_ng_model = "newStudentRegister.Email", required = "required" })
                            @Html.ValidationMessageFor(model => model.personalBgs.Email)

                        </div>
                    </div>
                    <div class="form-group" ng-repeat="x in contactInfos">
                        <div class="col-md-7">
                            <label>{{x.Type}}</label>
                            <input type="text" required="required" ng-model="x.ContactNumber1" class="form-control" onkeypress="return isNumberKey(event)" placeholder={{x.ForPlace}} />
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Date of Birth</label>
                            <!---->
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' id="myBday" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <div class="col-md-7">
                            <label>Age:</label> <input type="text" id="age" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Status:</label>

                            <select class="form-control" required ng-model="newStudentRegister.MaritalStatusID" ng-options="maritalstatu.MaritalStatusID as maritalstatu.Name for maritalstatu in maritalstatus">
                                <option>--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Gender:</label>

                        </div>
                        <div class="col-md-7">


                            <label class="radio-inline">
                                <input type="radio" ng-model="newStudentRegister.Gender" name="gender" value="Male">Male
                            </label>

                        </div>
                        <div class="col-md-7">

                            <label class="radio-inline">
                                <input type="radio" ng-model="newStudentRegister.Gender" name="gender" value="Female">Female
                            </label>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Place of Birth:</label>
                            <input type="text" required="required" ng-model="newStudentRegister.PlaceOfBirth" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Nationality:</label>
                            <input type="text" required="required" ng-model="newStudentRegister.Nationality" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Height (cm): </label>
                            <input type="text" required="required" ng-model="newStudentRegister.Height" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Weight (kg):  </label>
                            <input type="text" required="required" ng-model="newStudentRegister.Weight" size="2" class="form-control" />
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <div class="col-md-7">
                            <label>Authentication</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <br />
                        <br />
                        <div class="col-md-9">

                            <div class="panel panel-info">
                                <div class="panel-heading">Set Password</div>
                                <div class="panel-body">

                                    <ng-form name="passwordForm">
                                        <label>Nominate a Password</label>
                                        <input type="password" ng-model="password" class="form-control" name="password" ng-pattern="re" />
                                        <span ng-show="passwordForm.password.$error.pattern" style="color:red">Minimum 8 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character</span>
                                        <br />
                                        <label>Confirm Password</label>
                                        <input type="password" ng-model="repassword" class="form-control" ng-keydown="compare(repassword)" ng-keyup="compare(repassword)" name="repassword" ng-pattern="re" />
                                        <span ng-show="isconfirm || passwordForm.repassword.$dirty " ng-class="{true:'green',false:'red'}[isconfirm]">Password {{isconfirm==true?'':'not'}} match</span>


                                    </ng-form>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        
                        <button class="btn btn-info nextBtn btn-lg pull-right" type="button">Next</button>
                    </div>
                </div>
            </div>
            <div class="row setup-content" id="step-2">
                <div class="col-md-17">
                    <h4>Step 2 Academic Background</h4>
                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Public HighSchool :</label>
                            <input type="text" required="required" class="form-control" ng-model="newAcademicBg.HighSchoolName" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Section:</label>
                            <input type="text" required="required" class="form-control" ng-model="newAcademicBg.Section" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Complete Address of School:</label>
                            <input type="text" id="SchoolAddress" class="form-control" placeholder="Click this Textbox" required="required" ng-model="CompleteAddress" data-toggle="modal" data-target="#myModal" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Name of principal:</label>
                            <input type="text" class="form-control" required="required" ng-model="newAcademicBg.NameOfPrincipal" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-7">
                            <label>Telephone:</label>
                            <input type="text" class="form-control" required="required" placeholder="School Telephone" ng-model="newAcademicBg.SchoolTelno" />
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-7">
                            <br />
                            <center> <h4>Latest Grade on the following Subjects</h4></center>
                            <div class="col-md-3" ng-repeat="gr in subjects">
                                <label>{{gr.Subject}}</label>
                                <input type="text" class="form-control" required="required" placeholder="{{gr.ForPlace}}" onkeypress="return isNumberKey(event)" ng-model="gr.Grade" />
                            </div>


                        </div>
                        <br />
                    </div>
                    <div class="form-group">
                        <div class="col-md-7">
                            <div class="col-md-5">
                                <label>GWA:</label>
                                <input type="text" class="form-control" required="required" placeholder="eg.90" ng-model="myGwa.GWA" />
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <center> <h3>Membership in Organizations in and outside of school (2nd Grading)</h3></center>
                            <div class="row">
                                <div class="col-md-12">

                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>

                                                <td>Organization</td>
                                                <td>Positon Held</td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="orgs in OraganizationHeld">
                                                <td>
                                                    <input type="text" ng-model="orgs.Organization" class="form-control" placeholder={{orgs.OrgNamePlaceHolder}} />
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="orgs.PositionHeld" class="form-control" placeholder={{orgs.OrgPositionPlaceHolder}} />
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <center> <h3>Academic Awards Received at Secondary Level (Grade 11 and 12 only)</h3></center>
                            <div class="row">
                                <div class="col-md-12">

                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>

                                                <td>Name of Award</td>
                                                <td>Level</td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="aclvl in AcademicAwards">

                                                <td>
                                                    <input type="text" class="form-control" ng-model="aclvl.NameOfAward" />
                                                </td>
                                                <td>
                                                    <select class="form-control" ng-model="aclvl.AALID" ng-options="academicawardlevel.AALID as academicawardlevel.Name for academicawardlevel in AcademicAwardLevels">
                                                        <option>--Select--</option>

                                                    </select>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <center> <h3>Grade 11 and 12 Academic Tracks</h3></center>
                            <div class="row">
                                <div class="col-md-12">

                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>

                                                <td>Grade Level</td>
                                                <td>Level</td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="acTrack in Acadedmictracks">

                                                <td>
                                                    {{acTrack.GradeNumber}}
                                                </td>
                                                <td>
                                                    <select class="form-control" ng-model="acTrack.AcademicTrack1">
                                                        <option value="General Academic Strand">General Academic Strand</option>
                                                        <option value="(STEM) Strand">Science, Technology, Engineering and Mathematics</option>
                                                        <option value="(ABM) Strand">Accountancy, Business and Management</option>
                                                        <option value="(HUMSS) Strand">Humanities and Social Sciences</option>
                                                        <option value="">none</option>
                                                    </select>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <button class="btn btn-info nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
            <div class="row setup-content" id="step-3">
                <h4>Step 3 College Plan</h4>
                <div class="row">
                    <div class="col-md-10">

                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <td>Choice</td>
                                    <td>School</td>
                                    <td>Course</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="colPlan in Collgeplans">

                                    <td>
                                        {{colPlan.Choice}}
                                    </td>
                                    <td>
                                        <select class="form-control" required="required" ng-model="colPlan.SchoolID" ng-options="school.SchoolID as school.SchoolName for school in schools | orderBy:'SchoolName'">
                                            <option>--Select--</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" required="required" ng-model="colPlan.SchoolCourseID" ng-options="schoolcours.SchoolCourseID as schoolcours.CourseName for schoolcours in CoursesList|filter:{SchoolID: colPlan.SchoolID}:true | orderBy:'CourseName'">
                                            <option>--Select--</option>

                                        </select>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

                <div class="col-md-12">

                    <button class="btn btn-info nextBtn btn-lg pull-right" type="button">Next</button>
                </div>
            </div>
            <div class="row setup-content" id="step-4">

                <div class="col-md-5">

                    <h4>Step 4 Family Background</h4>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Family Member's or Guardian's Name:</label>
                            <input type="text" ng-model="MemberName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Relation</label>
                            <select class="form-control" ng-model="FMID" ng-options="familymember.FMID as familymember.Name for familymember in GetFamilyMembersss"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Date of Birth:</label>
                            <input type="date" class="form-control" ng-model="DateOfBirth" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Educational Attainment</label>
                            <select class="form-control" ng-model="EAID" ng-options="educationalattainment.EAID as educationalattainment.Name for educationalattainment in EducAttains"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Last School Attended:</label>
                            <input type="text" class="form-control" ng-model="LastSchoolAttended" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Nature of Work:</label>
                            <input type="text" class="form-control" ng-model="NatureOfWork" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Company:</label>
                            <input type="text" class="form-control" ng-model="Company" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Marital Status</label>
                            <select class="form-control" ng-model="MaritalStatusID" ng-options="maritalstatu.MaritalStatusID as maritalstatu.Name for maritalstatu in maritalstatus"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Add</label>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-9">

                            <button class="btn btn-success" ng-click="FamiliMember()" type="button">Add</button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <br />
                    <br />

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Member Name</th>
                                <th>Relation</th>
                                <th>Date of Birth</th>
                                <th>Educational Attainment</th>
                                <th>Last School Attended</th>
                                <th>Nature of Work</th>
                                <th>Company</th>
                                <th>Civil Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="FamBam in people">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UpdateFambam($index)" ng-show="FamBam.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="FamBam.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="FamBam.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                    <a class="btn btn-sm btn-danger" ng-click="removePerson($index)" ng-hide="FamBam.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="FamBam.MemberName" />
                                        </div>
                                        <div ng-switch-default>
                                            {{FamBam.MemberName}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <select class="form-control" ng-model="FamBam.FMID" ng-options="familymember.FMID as familymember.Name for familymember in GetFamilyMembersss">
                                                <option>--SELECT---</option>
                                            </select>
                                        </div>
                                        <div ng-switch-default>
                                            {{(GetFamilyMembersss|filter:{'FMID':FamBam.FMID}:true)[0].Name }}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="date" class="form-control" ng-model="FamBam.LastSchoolAttended" />
                                        </div>
                                        <div ng-switch-default>
                                            {{FamBam.DateOfBirth}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <select class="form-control" ng-model="FamBam.EAID" ng-options="educationalattainment.EAID as educationalattainment.Name for educationalattainment in EducAttains">
                                                <option>--SELECT---</option>
                                            </select>
                                        </div>
                                        <div ng-switch-default>
                                            {{(EducAttains|filter:{'EAID':FamBam.EAID}:true)[0].Name }}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="FamBam.LastSchoolAttended" />
                                        </div>
                                        <div ng-switch-default>
                                            {{FamBam.LastSchoolAttended}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="FamBam.NatureOfWork" />
                                        </div>
                                        <div ng-switch-default>
                                            {{FamBam.NatureOfWork}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="FamBam.Company" />
                                        </div>
                                        <div ng-switch-default>
                                            {{FamBam.Company}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div ng-switch="FamBam.IsEdit">
                                        <div ng-switch-when="true">
                                            <select class="form-control" ng-model="FamBam.MaritalStatusID" ng-options="maritalstatu.MaritalStatusID as maritalstatu.Name for maritalstatu in maritalstatus">
                                                <option>--SELECT Marital Status--</option>
                                            </select>
                                        </div>
                                        <div ng-switch-default>
                                            {{(maritalstatus|filter:{'MaritalStatusID':FamBam.MaritalStatusID}:true)[0].Name }}
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">

                    <button class="btn btn-info nextBtn btn-lg pull-right" type="button">Next</button>
                </div>

            </div>
            <div class="row setup-content" id="step-5">
                <div class="col-md-5">
                    <h4>Step 5 Annual Aggregate Family Income</h4>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Annual Aggregate Family Income:</label>
                            <input type="text" required="required" ng-model="newStudentRegister.AggregiateFamilyIncome" class="form-control" onkeypress="return isNumberKey(event)" placeholder="numbers only" />

                        </div>
                    </div>
                    @*List of Attachements*@
                    <div class="form-group">
                        <div class="col-md-12">

                            <div class="col-md-12" style="padding-top:10px;">

                                <div class="col-md-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>List of Attachments</th>
                                                <th>Document Name</th>
                                                <th>Upload</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2x2 ID Picture</td>
                                                <td>2x2idpic</td>
                                                <td><input type="file" id="file" name="file" onchange="angular.element(this).scope().setFile(this)" class="btn btn-warning" /></td>
                                            </tr>
                                            <tr>
                                                <td>Grade 12 High School Grades Reflecting 2nd Grading Period</td>
                                                <td>Grade12Grades</td>
                                                <td><input type="file" id="fileReportCard" name="fileReportCard" onchange="angular.element(this).scope().setFileS(this)" class="btn btn-warning" /></td>
                                            </tr>
                                            <tr>
                                                <td>ITR of parent / Certificate of Non Filing of Income</td>
                                                <td>ITR/Nonfiling</td>
                                                <td><input type="file" id="fileCertificate" name="fileCertificate" onchange="angular.element(this).scope().setFileC(this)" class="btn btn-warning" /></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Sketch to the Applicants House from the Landmarks that can be
                                                    seen.(e.g. Church, School, Name of Sari-Sari Store etc) Please write
                                                    a 3-5 sentence description of your house.
                                                </td>
                                                <td>House Sketch</td>
                                                <td><input type="file" id="fileSketch" name="fileSketch" onchange="angular.element(this).scope().setFileSketch(this)" class="btn btn-warning" /></td>
                                            </tr>

                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>


                    @*<div class="form-group">
                        <div class="col-md-9">
                            <label>Attachement File:</label>
                            <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" class="btn btn-warning" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9">

                            <div class="col-md-12" style="padding-top:10px;">

                                <div class="col-md-7">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Document Name</th>
                                                <th>Document Type</th>
                                                <th>Document Size</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="file in fileList">

                                                <td>{{file.file.name}}</td>
                                                <td>{{file.file.type}}</td>
                                                <td>{{file.file.size}}</td>


                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-md-9">
                            <button class="btn btn-info" data-toggle="modal" onkeypress="return event.keyCode != 13" data-target=" #registrationmodal">Submit</button>
                        </div>
                    </div>

                </div>
            </div>


        </form>
        @*Modal for school Address*@
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">School Address</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                      
                                        <div class="col-md-10">
                                            <h5><label>Region</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedRegion" ng-options="reg.regCode as reg.regDesc for reg in Regions">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            <h5><label>Province</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedProvince" ng-options="pro.provCode as pro.provDesc for pro in Provinces | filter:{regCode: selectedRegion}">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      
                                        <div class="col-md-10">
                                            <h5><label>Municipality</label></h5>
                                            <select class="form-control" id="SchoolMuni" required="required" ng-model="selectedMuncipality" ng-change="renderAddress()" ng-options="mun.citymunCode as mun.citymunDesc for mun in Municipalities| filter:{provCode:selectedProvince}">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      
                                        <div class="col-md-10">
                                            <h5><label>Unit Number, Street and Barangay</label></h5>
                                            <input type="text" class="form-control" onkeypress="return checkForComma(event);" required="required" ng-change="renderAddress()" ng-model="barangay" />
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i>Ok</button>
                    </div>
                </div>

            </div>
        </div>
        @*Modal for Registration*@
        <div id="registrationmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Registration</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to submit your application?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-click="RegisterNewStudent()" data-toggle="modal" data-target="#myModalLoading" data-dismiss="modal">Submit</button>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal">I want to double check my data</button>
                    </div>
                </div>

            </div>
        </div>
        @*Modal for Home address*@
        <div class="modal fade" id="myHomeAddressModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Present Address</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-14">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            <h5><label>Region</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedRegionPersonal" ng-options="reg.regCode as reg.regDesc for reg in RegionsPersonal">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      
                                        <div class="col-md-10">
                                            <h5><label>Province</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedProvincePersonal" ng-options="pro.provCode as pro.provDesc for pro in ProvincesPersonal | filter:{regCode: selectedRegionPersonal}">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            <h5><label>Municipality</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedMuncipalityPersonal" ng-change="renderAddressPersonal()" ng-options="mun.citymunCode as mun.citymunDesc for mun in MunicipalitiesPersonal| filter:{provCode:selectedProvincePersonal}">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                     
                                        <div class="col-md-10">
                                            <h5><label>Unit Number, Street and Barangay</label></h5>
                                            <input type="text" class="form-control" required="required" ng-change="renderAddressPersonal()" onkeypress="return checkForComma(event);" ng-model="barangayPersonal" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-backdrop="false" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i>Ok</button>
                    </div>
                </div>

            </div>
        </div>
        @*Modal for permanent address*@
        <div class="modal fade" id="myPermanentAddressModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Permanent Address</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-14">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        
                                        <div class="col-md-10">
                                            <h5><label>Region</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedRegionPermanent" ng-options="reg.regCode as reg.regDesc for reg in RegionsPermanent">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <div class="col-md-10">
                                            <h5><label>Province</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedProvincePermanent" ng-options="pro.provCode as pro.provDesc for pro in ProvincesPermanent | filter:{regCode: selectedRegionPermanent}">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      
                                        <div class="col-md-10">
                                            <h5><label>Municipality</label></h5>
                                            <select class="form-control" required="required" ng-model="selectedMuncipalityPermanent" ng-change="renderAddressPermanent()" ng-options="mun.citymunCode as mun.citymunDesc for mun in MunicipalitiesPermanent| filter:{provCode:selectedProvincePermanent}">
                                                <option>--SELECT--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                       
                                        <div class="col-md-10">
                                            <h5><label>Unit Number, Street and Barangay</label></h5>
                                            <input type="text" class="form-control" required="required" ng-change="renderAddressPermanent()" onkeypress="return checkForComma(event);" ng-model="barangayPermanent" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-backdrop="false" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i>Ok</button>
                    </div>
                </div>

            </div>
        </div>
        @*for loading pop up*@
        <div id="myModalLoading" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">We'll take you a while</h4>
                    </div>
                    <div class="modal-body">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
}

@section scripts{
    
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var navListItems = $('div.setup-panel div a'),
                    allWells = $('.setup-content'),
                    allNextBtn = $('.nextBtn');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                        $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url'],input[type='date']","input[type='password']"),
                    isValid = true;

                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid)
                    nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-primary').trigger('click');
        });


        App.controller('ApplicationFormController', ['$scope', '$http', 'jsonFilter', '$filter', '$element', function ($scope, $http, jsonFilter, $filter, $element) {

            $scope.newAcademicBg = {};
            $scope.newStudentRegister = {};
            //$scope.OtherReligionID;
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.people = [];
            $scope.CorrectPass = "btn btn-primary btn-lg pull-right";
            $scope.FamiliMember = function () {
                var person = {
                    MemberName: $scope.MemberName,
                    FMID: $scope.FMID,
                    DateOfBirth: $scope.DateOfBirth,
                    EAID: $scope.EAID,
                    LastSchoolAttended: $scope.LastSchoolAttended,
                    NatureOfWork: $scope.NatureOfWork,
                    Company: $scope.Company,
                    MaritalStatusID: $scope.MaritalStatusID,

                };

                $scope.people.push(person);
                $scope.MemberName = "";
                $scope.FMID = "";
                $scope.DateOfBirth = "";
                $scope.EAID = "";
                $scope.LastSchoolAttended = "";
                $scope.NatureOfWork = "";
                $scope.Company = "";
                $scope.MaritalStatusID = "";
            };
            $scope.removePerson = function (index) {
                $scope.people.splice(index, 1);
            };
            $scope.contactInfos = [
                          { ContactNumber1: "", Type: "Mobile Number", ForPlace: "+63927" },
                            { ContactNumber1: "", Type: "Alternate Mobile Number", ForPlace: "+63927" },
                              { ContactNumber1: "", Type: "Telephone", ForPlace: "530-xx-xx" }];
            $scope.OraganizationHeld = [
                    { Organization: "", PositionHeld: "", OrgNamePlaceHolder: "Organization Name", OrgPositionPlaceHolder: "Position Held" },
                    { Organization: "", PositionHeld: "", OrgNamePlaceHolder: "Organization Name", OrgPositionPlaceHolder: "Position Held" },
                    { Organization: "", PositionHeld: "", OrgNamePlaceHolder: "Organization Name", OrgPositionPlaceHolder: "Position Held" },
                    { Organization: "", PositionHeld: "", OrgNamePlaceHolder: "Organization Name", OrgPositionPlaceHolder: "Position Held" },
                    { Organization: "", PositionHeld: "", OrgNamePlaceHolder: "Organization Name", OrgPositionPlaceHolder: "Position Held" },
            ];
            $scope.subjects = [
                           { Grade: "", Subject: "Math",ForPlace:"90/100" },
                             { Grade: "", Subject: "English", ForPlace: "90/100" },
                               { Grade: "", Subject: "Science", ForPlace: "90/100" }];
            $scope.AcademicAwards = [
                { NameOfAward: "", AALID: "" },
                { NameOfAward: "", AALID: "" },
                { NameOfAward: "", AALID: "" },
                { NameOfAward: "", AALID: "" },
                { NameOfAward: "", AALID: "" },

            ];
            $scope.Acadedmictracks = [
                { GradeNumber: "Grade 11 & 12", AcademicTrack1: "" },

            ];
            $scope.Collgeplans = [
                { Choice: "1", SID: "", SchoolCourseID: "" },
                { Choice: "2", SID: "", SchoolCourseID: "" },
            ];
            $scope.barangay = "";
            $scope.NewAppForm = null;
            $scope.CollegePlansFilter = function (colplan)
            {
                var School = $filter('filter')($scope.schools, { SchoolID: $scope.selectedSchoolId });
            };
            //////////////School Address////////////////
            $scope.renderAddress = function (reg) {
                var myReg = $filter('filter')($scope.Regions, { regCode: $scope.selectedRegion }); //$scope.selectedProvinceDesc;
                var Provs = $filter('filter')($scope.Provinces, { provCode: $scope.selectedProvince });
                var Muni = $filter('filter')($scope.Municipalities, { citymunCode: $scope.selectedMuncipality });
                $scope.muniforschool = Muni[0].citymunDesc;
                     

                $scope.CompleteAddress = $scope.barangay + "," + Muni[0].citymunDesc + "," + Provs[0].provDesc;


                $scope.newAcademicBg.CompleteAddress = $scope.barangay + "," + Muni[0].citymunDesc + "," + Provs[0].provDesc;


            };
            $scope.GetRegions = function () {

                //alert();

                $http.get("/Content/Region.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.Regions = data.RECORDS;

                })
            }
            //Age
            // Date Picker
            function setAge(d) {
                var age = moment().diff(d, 'years', true);
                $('#age').val(parseInt(age));

            }
            $(function () {
                $('.manual').change(function () {
                    var isoDate = new Date($(this).val()).toISOString();
                    setAge(moment(isoDate));
                   // $scope.newStudentRegister.DateOfBirth = isoDate;
                });

                $('#datetimepicker1').datetimepicker({ format: 'MM-DD-YYYY' }).on('dp.change', function (e) {
                    setAge(e.date);
                    //$scope.newStudentRegister.DateOfBirth = e.date;
                });
            });
            $(function () {

                $('#datepicker').datetimepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'MM-dd-yyyy',
                    //firstDay: 1,
                    onSelect: function (dateText, inst) {
                        dateText.split('/');
                        Bdate = new Date(dateText[2], dateText[0] - 1, dateText[1]);
                        BDateArr = ('' + Bdate).split(' ');
                        //document.getElementById('DOW').value = BDateArr[0];
                        Cdate = new Date;
                        CDateArr = ('' + Cdate).split(" ");
                        Age = CDateArr[3] - BDateArr[3];
                        document.getElementById('AGE').value = Age;
                        // DOBcalc(dateText);
                        //DOBcalc();
                        // $scope.newStudentRegister.DateOfBirth = Bdate;
                        $scope.newStudentRegister.DateOfBirth = Bdate;
                    }
                })

            });
            //GetProvince
            $scope.GetProvince = function () {

                //alert();

                $http.get("/Content/Province.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.Provinces = data.RECORDS;

                })
            }
            //GetMunicipality
            $scope.GetMunicipality = function () {

                //alert();

                $http.get("/Content/Municipality.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.Municipalities = data.RECORDS;

                })
            }
            //GetMaritalStatus
            $scope.GetMaritalStatus = function () {
                $http.post("/ShowMaintenance/GetMaritalStatus")
                .success(function (data, status, header, config) {

                    $scope.maritalstatus = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //GetAwardLevel
            $scope.GetAcademicAwardLevels = function () {
                $http.post("/ShowMaintenance/GetAcademicAwardLevel")
                .success(function (data, status, header, config) {

                    $scope.AcademicAwardLevels = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            ///GetSchool
            $scope.GetSchool = function () {
                $http.post("/ShowMaintenance/GetSchool")
                .success(function (data, status, header, config) {

                    $scope.schools = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////////////Get Religion
            $scope.GetReligion = function () {
                $http.post("/ShowMaintenance/Getreligion")
                .success(function (data, status, header, config) {
                    ////forSchool
                    $scope.GetRegions();
                    $scope.GetProvince();
                    $scope.GetMunicipality();
                    ///For HomeAddress
                    $scope.GetRegionsPersonal();
                    $scope.GetProvincePersonal();
                    $scope.GetMunicipalityPersonal();
                    ////////forPermanentAddress
                    $scope.GetRegionsPermanent();
                    $scope.GetProvincePermanent();
                    $scope.GetMunicipalityPermanent();
                    $scope.GetMaritalStatus();
                    $scope.GetAcademicAwardLevels();
                    $scope.GetSchool();
                    $scope.GetSchoolCourse();
                    $scope.GetEducationalAttainment();
                    $scope.GetFamilyMembers();

                    $scope.religions = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //RegisterStudent
            $scope.RegisterNewStudent = function () {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                $scope.newStudentRegister.DateOfBirth = angular.element('#myBday').val();


                var newStudentRegisterData = JSON.stringify({


                    Academicbackground: $scope.newAcademicBg,
                    personalBgs: $scope.newStudentRegister,
                    contactInfo: $scope.contactInfos,
                    acadAwards: $scope.AcademicAwards,
                    AcademicGrade: $scope.subjects,
                    acadorg: $scope.OraganizationHeld,
                    colpnas: $scope.Collgeplans,
                    famBack: $scope.people,
                    gwaofStud: $scope.myGwa,
                    acadtrack: $scope.Acadedmictracks,
                    municitySchool: $scope.muniforschool,

                });




                $http.post("/ApplicationForm/AddStudAppForm", newStudentRegisterData, options)
                .success(function (data, status, header, config) {


                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }
                    if ($scope.password == $scope.repassword) {
                        $scope.UploadFile();
                        $scope.UploadFileReportCard();
                        $scope.UploadFileCertificate();
                        $scope.UploadFileSketch();
                        window.location.href = "/userAuthentication/Authenticate";
                        alert("You've made a successful registration");
                    }
                    else if ($scope.password != $scope.repassword)
                    {
                        alert("Password Must Match");
                    }
                   

                    logResult("SUCCESS", data, status, header, config);

                })
             .error(function (data, status, header, config) {
                 alert("Error");
                 logResult("SUCCESS", data, status, header, config);
             });

            };
            //Get Course
            $scope.GetSchoolCourse = function () {
                $http.post("/SchoolCourses/GetSchoolCourse")
                .success(function (data, status, header, config) {

                    $scope.CoursesList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////Get EducationalAttainemnt
            $scope.GetEducationalAttainment = function () {
                $http.post("/ShowMaintenance/GetEducationalAttainment")
                .success(function (data, status, header, config) {

                    $scope.EducAttains = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////GetFamilyMember
            $scope.GetFamilyMembers = function () {
                $http.post("/ShowMaintenance/GetFamilyMembers")
                .success(function (data, status, header, config) {

                    $scope.GetFamilyMembersss = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //Update Function
            $scope.UpdateFambam = function (index) {

                $scope.people[index].IsEdit = false;

            };
            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.people[index].IsEdit = true;
            };
            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.interviewers1List[index].IsEdit = false;
            };
            $scope.ValidatePass = function () {
                var password = $scope.newStudentRegister.Password;
                var confirmPassword = $scope.conpass;
                if (password != confirmPassword) {
                    alert("Passwords do not match.");


                    return false;
                }
                else {
                    //$scope.RegisterNewStudent();
                    return true;
                }
            }
            //////UPLOAD FOR 2X2
            $scope.fileList = [];
            $scope.curFile;
            $scope.ImageProperty = {
                file: ''
            }
            $scope.setFile = function (element) {
                $scope.fileList = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImageProperty.file = files[i];

                    $scope.fileList.push($scope.ImageProperty);
                    $scope.ImageProperty = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFile = function () {


                for (var i = 0; i < $scope.fileList.length; i++) {

                    $scope.UploadFileIndividual($scope.fileList[i].file,
                                                $scope.fileList[i].file.name,
                                                $scope.fileList[i].file.type,
                                                $scope.fileList[i].file.size,
                                                i);
                }

            }
            $scope.UploadFileIndividual = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/ApplicationForm/UploadFiles/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            ///////////////// //////UPLOAD FOR REPORTCARD
            $scope.fileListReportCard = [];
            $scope.curFileReportCard;
            $scope.ImagePropertyofReportCard = {
                fileReportCard: ''
            }
            $scope.setFileS = function (element) {
                $scope.fileListReportCard = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImagePropertyofReportCard.fileReportCard = files[i];

                    $scope.fileListReportCard.push($scope.ImagePropertyofReportCard);
                    $scope.ImagePropertyofReportCard = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFileReportCard = function () {


                for (var i = 0; i < $scope.fileListReportCard.length; i++) {

                    $scope.UploadFileIndividualReportCard($scope.fileListReportCard[i].fileReportCard,
                                                $scope.fileListReportCard[i].fileReportCard.name,
                                                $scope.fileListReportCard[i].fileReportCard.type,
                                                $scope.fileListReportCard[i].fileReportCard.size,
                                                i);
                }

            }
            $scope.UploadFileIndividualReportCard = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/ApplicationForm/UploadFilesReports/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            ////////////////// /////UPLOAD FOR CERTIFICATE
            $scope.fileListCertificate = [];
            $scope.curFileCertificate;
            $scope.ImagePropertytCertificate = {
                fileCertificate: ''
            }
            $scope.setFileC = function (element) {
                $scope.fileListCertificate = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImagePropertytCertificate.fileCertificate = files[i];

                    $scope.fileListCertificate.push($scope.ImagePropertytCertificate);
                    $scope.ImagePropertytCertificate = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFileCertificate = function () {


                for (var i = 0; i < $scope.fileListCertificate.length; i++) {

                    $scope.UploadFileIndividualCertificate($scope.fileListCertificate[i].fileCertificate,
                                                $scope.fileListCertificate[i].fileCertificate.name,
                                                $scope.fileListCertificate[i].fileCertificate.type,
                                                $scope.fileListCertificate[i].fileCertificate.size,
                                                i);
                }

            }
            $scope.UploadFileIndividualCertificate = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/ApplicationForm/UploadFilesITR/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            ///////////////////////////UPLOAD FOR SKETCH
            $scope.fileListSketch = [];
            $scope.curFileSketch;
            $scope.ImagePropertytSketch = {
                fileSketch: ''
            }
            $scope.setFileSketch = function (element) {
                $scope.fileListSketch = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImagePropertytSketch.fileSketch = files[i];

                    $scope.fileListSketch.push($scope.ImagePropertytSketch);
                    $scope.ImagePropertytSketch = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFileSketch = function () {


                for (var i = 0; i < $scope.fileListSketch.length; i++) {

                    $scope.UploadFileIndividualSketch($scope.fileListSketch[i].fileSketch,
                                                $scope.fileListSketch[i].fileSketch.name,
                                                $scope.fileListSketch[i].fileSketch.type,
                                                $scope.fileListSketch[i].fileSketch.size,
                                                i);
                }

            }
            $scope.UploadFileIndividualSketch = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/ApplicationForm/UploadFilesSketch/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            ////////////////////////////////PersonalBG Present address
            $scope.renderAddressPersonal = function (reg) {
                var myRegPersonal = $filter('filter')($scope.RegionsPersonal, { regCode: $scope.selectedRegionPersonal }); //$scope.selectedProvinceDesc;
                var ProvsPersonal = $filter('filter')($scope.ProvincesPersonal, { provCode: $scope.selectedProvincePersonal });
                var MuniPersonal = $filter('filter')($scope.MunicipalitiesPersonal, { citymunCode: $scope.selectedMuncipalityPersonal });



                $scope.HomeAddress = $scope.barangayPersonal + "," + MuniPersonal[0].citymunDesc + "," + ProvsPersonal[0].provDesc;

                $scope.newStudentRegister.HomeAddress = $scope.barangayPersonal + "," + MuniPersonal[0].citymunDesc + "," + ProvsPersonal[0].provDesc;


            };
            $scope.GetRegionsPersonal = function () {


                $http.get("/Content/Region.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.RegionsPersonal = data.RECORDS;

                })
            }
            //GetProvince
            $scope.GetProvincePersonal = function () {

                //alert();

                $http.get("/Content/Province.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.ProvincesPersonal = data.RECORDS;

                })
            }
            //GetMunicipality
            $scope.GetMunicipalityPersonal = function () {

                //alert();

                $http.get("/Content/Municipality.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.MunicipalitiesPersonal = data.RECORDS;

                })
            }
            ///////////////////////////////////////////////////
            // $scope.re = /^[a-zA-Z]\w{3,14}$/;
            $scope.re = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^_()&*-]).{8,}$/;
            $scope.compare = function (repass) {
                $scope.isconfirm = $scope.password == repass ? true : false;
                $scope.newStudentRegister.Password = $scope.password;
            }
            /////////////////// PersonalBg Permanent address
            $scope.renderAddressPermanent = function (reg) {
                var myRegPermanent = $filter('filter')($scope.RegionsPermanent, { regCode: $scope.selectedRegionPermanent }); //$scope.selectedProvinceDesc;
                var ProvsPermanent = $filter('filter')($scope.ProvincesPermanent, { provCode: $scope.selectedProvincePermanent });
                var MuniPermanent = $filter('filter')($scope.MunicipalitiesPermanent, { citymunCode: $scope.selectedMuncipalityPermanent });



                $scope.PermanentAddress = $scope.barangayPermanent + "," + MuniPermanent[0].citymunDesc + "," + ProvsPermanent[0].provDesc;

                $scope.newStudentRegister.PermanentAddress = $scope.barangayPermanent + "," + MuniPermanent[0].citymunDesc + "," + ProvsPermanent[0].provDesc;


            };
            $scope.GetRegionsPermanent = function () {


                $http.get("/Content/Region.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.RegionsPermanent = data.RECORDS;

                })
            }
            //GetProvince
            $scope.GetProvincePermanent = function () {

                //alert();

                $http.get("/Content/Province.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.ProvincesPermanent = data.RECORDS;

                })
            }
            //GetMunicipality
            $scope.GetMunicipalityPermanent = function () {

                //alert();

                $http.get("/Content/Municipality.json").success(function (data) {

                    console.log(data.RECORDS);

                    $scope.MunicipalitiesPermanent = data.RECORDS;

                })
            }
        }]);




        $('form input[name="email"]').blur(function () {
            var email = $(this).val();
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/igm;
            if (re.test(email)) {
                $('.msg').hide();
                $('.success').show();
            } else {
                $('.msg').hide();
                $('.error').show();
            }

        });
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        $('#presentAddress').focus(function () {
            $('#myHomeAddressModal').modal('show');
        });
        $('#PermanentAddress').focus(function () {
            $('#myPermanentAddressModal').modal('show');
        });
        $('#SchoolAddress').focus(function () {
            $('#myModal').modal('show');
        });
        function checkForComma(event) {
            if (event.charCode == 44) {
                alert('Not allowed');
                return false;
            } else {
                return true;
            }
        }
        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
        }

        document.onkeypress = stopRKey;
    </script>
    @*<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css" />
    *@


    @*<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

}
