﻿
@{
    ViewBag.Title = "Index";
}

<h2>Interview Students</h2>
<div ng-controller="InterviewController" ng-init="GetStudent()">
    <div class="row">
        <div class="col-md-5">
            <label>Select Students:</label>
            <select class="form-control" ng-model="SID"  ng-options="personalbackground.SID as (personalbackground.FirstName + ' ' + personalbackground.MiddleName + ' ' +personalbackground.LastName ) for personalbackground in StudentList">
                <option></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <table class="table table-striped table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Criteria for Interview</td>
                        <td>Perfect Score</td>
                        <td>Actual Score</td>
                        <td>Interview Remarks</td>
                    </tr>
                    

                </thead>
                <tbody>
                    <tr ng-repeat="x in CriteriaInterviewer">
                        <td>{{x.Questions}}</td>
                        <td>{{x.maxG}}</td>
                        <td><input type="number" class="form-control" max="{{x.maxG}}" min="0" ng-model="x.Grade" /></td>
                        <td><input type="text" class="form-control" max="{{x.Remarks}}" min="0" ng-model="x.Remarks" /></td>
                    </tr>
                    
                </tbody>
            </table>
            </div>
        </div>
    <div class="row">
        <div class="col-md-7">
            <button ng-click="addInterviewForStudent()" class="btn btn-primary">Save</button>
            </div>
        </div>
</div>

@section scripts{
    <script type="text/javascript">
        App.controller('InterviewController', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter, $compile) {

            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.SID = "";
            $scope.CriteriaInterviewer = [
             { Questions: "Academic", Grade: "" ,maxG:"25",Remarks:""},
             { Questions: "Personality", Grade: "", maxG: "20",Remarks:"" },
             { Questions: "Maturity", Grade: "", maxG: "20", Remarks: "" },
             { Questions: "Ambition", Grade: "", maxG: "20", Remarks: "" },
             { Questions: "X factor", Grade: "", maxG: "15", Remarks: "" },
              
            ];

            //getStudent
            $scope.GetStudent = function () {
                
                $http.post("/ShowAllStudentAdmin/GetStudentPendingInterview")
                .success(function (data, status, header, config) {
                    $scope.StudentList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //add Interviewer
            //Update Function
            $scope.addInterviewForStudent = function () {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var InterviewerData = JSON.stringify({ a: $scope.CriteriaInterviewer, studid: $scope.SID });
                $http.post("/InterviewStudents/AddInterviewResult", InterviewerData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    window.location.reload();
                    $scope.interviewers1List[index] = data.Record;
                    window.location.reload();
                    alert("Done For Interview");
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
        }]);
    </script>
}