﻿@{
    ViewBag.Title = "Index";
}


@model SMScholars.BLL.smuser
<div ng-controller="InterviewerssController" ng-init="GetInterviewer()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add SM USER
                </a>
            </div>
           

        </div>
        
          
      
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Name:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newInterviewer.Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Contact Number:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newInterviewer.ContactNumber" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Company:</label>
                                    <div class="col-md-10">
                                     
                                        <input type="text" class="form-control" ng-model="newInterviewer.Company" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Designation:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newInterviewer.Designation" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Username:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newInterviewer.Username" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Email:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newInterviewer.Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Password:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newInterviewer.Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Position:</label>
                                    <div class="col-md-10">
                                        <select ng-model="newInterviewer.Position" class="form-control">
                                            <option value=" ">--Select one--</option>
                                            <option value="Interviewer">Interviewer</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Home Visitor">Home Visitor</option>
                                        </select>
                                       
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="validate()" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i> Add</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
       
        <div class="col-lg-12">
            <table class="table table-striped table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Action</td>
                        <td>ID</td>
                        <td>NAME</td>
                        <td>CONTACT NUMBER</td>
                        <td>COMPANY</td>
                        <td>DESIGNATION</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="interviewers1 in interviewers1List">
                        <td>
                            <a class="btn btn-sm btn-success" ng-click="UpdateInterviewer($index)" ng-show="interviewers1.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                            <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="interviewers1.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                            <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="interviewers1.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                            <a class="btn btn-sm btn-danger" ng-click="deleteInterviewer($index)" ng-hide="interviewers1.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                        </td>
                        <td>
                            {{interviewers1.InID}}
                        </td>
                        <td>
                            <div ng-switch="interviewers1.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="interviewers1.Name" />
                                </div>
                                <div ng-switch-default>
                                    {{interviewers1.Name}}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-switch="interviewers1.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="interviewers1.ContactNumber" />
                                </div>
                                <div ng-switch-default>
                                    {{interviewers1.ContactNumber}}
                                </div>
                            </div>
                        </td>

                        <td>
                            <div ng-switch="interviewers1.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="interviewers1.Company" />
                                </div>
                                <div ng-switch-default>
                                    {{interviewers1.Company}}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-switch="interviewers1.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="interviewers1.Designation" />
                                </div>
                                <div ng-switch-default>
                                    {{interviewers1.Designation}}
                                </div>
                            </div>
                        </td>
                    </tr>        
             </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
   
    <script type="text/javascript">
     

        App.controller('InterviewerssController', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.newInterviewer = null;

            //get InterviewerList
            $scope.GetInterviewer = function ()
            {
                $http.post("/ShowMaintenance/GetInterviewer")
                .success(function (data, status, header, config) {
                    $scope.interviewers1List = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            //add Interviewer
            $scope.AddNewInterviewer = function ()
            {
                alert();

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var NewInterviewerData = JSON.stringify($scope.newInterviewer);
                $http.post("/Interviewer/AddInterviewer", NewInterviewerData, options)
                   
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        
                        alert(data.Message);
                        return;
                    }
                    $scope.interviewers1List.push(data.Record);
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

            }
            $scope.validate = function () {
                if (($scope.newInterviewer.Name != null || $scope.newInterviewer.Name != "") &&
                    ($scope.newInterviewer.Username != null || $scope.newInterviewer.Username != "") &&
                    ($scope.newInterviewer.Password != null||$scope.newInterviewer.Password != "")&&
                    ($scope.newInterviewer.Email != null||$scope.newInterviewer.Email != "") &&
                    ($scope.newInterviewer.Company != null||$scope.newInterviewer.Company !="") &&
                    ($scope.newInterviewer.Designation != null||$scope.newInterviewer.Designation !="") &&
                    ($scope.newInterviewer.Position != null||$scope.newInterviewer.Position !="") &&
                    ($scope.newInterviewer.ContactNumber != null||$scope.newInterviewer.ContactNumber !="")) {
                    $scope.AddNewInterviewer();
                } else 
                  {
                    alert("Please Complete the following Information write N/A If there is no corresponding information");
                    

                }
            }
            //Update Function
            $scope.UpdateInterviewer = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var InterviewerData = JSON.stringify($scope.interviewers1List[index]);
                $http.post("/Interviewer/UpdateInterviewer", InterviewerData, options)
                .success(function (data, status, header, config) {
                  
                        alert(data.Result);
                   
                    $scope.interviewers1List[index] = data.Record;
                    $scope.interviewers1List[index].IsEdit = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function(data, status, header, config){

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.interviewers1List[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.interviewers1List[index].IsEdit = false;
            };
            //DELETE interviewer
            $scope.deleteInterviewer = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var companyData = JSON.stringify($scope.interviewers1List[index]);

                $http.post("/Interviewer/DeleteInterviewer", companyData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.interviewers1List.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };



        }]);
    </script>
}

