﻿

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<div ng-controller="AcceptedStudController" ng-init="partialDetails()">





    <div class="col-md-13" id="acceptedapp">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th><center>Action</center></th>
                    <th><center>Applicants ID</center></th>
                    <th><center>Full name</center></th>
                    <th><center>Place of Birth</center></th>
                    <th><center>Nationality</center></th>
                    <th><center>Home Address</center></th>
                    <th><center>Status</center></th>
                    <th><center>Decision</center></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in partialDetailsList | filter:{Status:'Accepted'}">
                    <td><a class="btn btn-sm btn-info" ng-click="SelectStud($index)" data-toggle="modal" data-target="#myAdministratorModal"><i class="glyphicon glyphicon-eye-open"> </i> View</a></td>
                    <td>{{stud.SID}}</td>
                    <td>{{stud.FirstName}},{{stud.LastName}},{{stud.MiddleName}}</td>
                    <td>{{stud.PlaceOfBirth}}</td>
                    <td>{{stud.Nationality}}</td>
                    <td>{{stud.HomeAddress}}</td>
                    <td>{{stud.Status}}</td>
                    <td>
                        

                        <button type="button" id="Status" class="btn btn-sm btn-danger" ng-click="UpdateStudentStatusDeclined($index)" ng-model="stud.Status" value="Declined">Decline</button>


                    </td>


                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">

        <button class="btn-primary" ng-click="exportDataAllAcceptedApplicants()">Export to Excel</button>
    </div>

    <div class="modal fade" id="myAdministratorModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Applicant Complete Details</h4>
                </div>
                <div class="modal-body">

                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Personal Background</label></div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="stude in PersonalBgList">
                                <div class="col-md-17">
                                    <div class="col-md-7">
                                        <label>Applicant ID:</label>
                                        {{stude.SID}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Application ID:</label>
                                        {{stude.ApplicationID}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Full name:</label>
                                        {{stude.FirstName}},{{stude.LastName}},{{stude.MiddleName}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Religion:</label>
                                        {{(GetReligionList|filter:{'ReligionID':stude.ReligionID}:true)[0].Name }}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Email:</label>
                                        {{stude.Email}}

                                    </div>
                                    <div class="col-md-7">
                                        <label>Date Of Birth:</label>
                                        {{stude.DateOfBirth}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>MaritalStatus:</label>
                                        {{(maritalstatus|filter:{'MaritalStatusID':stude.MaritalStatusID}:true)[0].Name }}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Gender:</label>
                                        {{stude.Gender}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Place of Birth:</label>
                                        {{stude.PlaceOfBirth}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Nationality:</label>
                                        {{stude.Nationality}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Height (cm):</label>
                                        {{stude.Height}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Weight (kg):</label>
                                        {{stude.Weight}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Family Income:</label>
                                        {{stude.AggregiateFamilyIncome}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Registration Date:</label>
                                        {{stude.DatePosted}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Present Address:</label>
                                        {{stude.HomeAddress}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Permanent Address:</label>
                                        {{stude.PermanentAddress}}
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="panel-heading">Contact Information</div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="conat in ContactLists">
                                <div class="col-md-17">
                                    <div class="col-md-7">

                                        <label>{{conat.Type}}:</label>
                                        {{conat.ContactNumber1}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Academic Background</label> </div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="acadbg in acadbgList">
                                <div class="col-md-7">
                                    <label>High School Name:</label>
                                    {{acadbg.HighSchoolName}}
                                </div>
                                <div class="col-md-7">
                                    <label>Section:</label>
                                    {{acadbg.Section}}
                                </div>
                                <div class="col-md-7">
                                    <label>School Address:</label>
                                    {{acadbg.CompleteAddress}}
                                </div>
                                <div class="col-md-7">
                                    <label>Name Of Principal:</label>
                                    {{acadbg.NameOfPrincipal}}
                                </div>
                                <div class="col-md-7">
                                    <label>School Telephone:</label>
                                    {{acadbg.SchoolTelno}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading">Academic Awards Received at Secondary Level (Grade 11 and 12 only)</div>
                        <div class="panel-body">

                            <div class="col-md-17">
                                <div class="col-md-7">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="studeGr in StudentGradeList">
                                                <td>{{studeGr.Subject}}</td>
                                                <td>{{studeGr.Grade}}</td>
                                            </tr>
                                            <tr ng-repeat="GS in MyOwnGwa">
                                                <td><h3><strong>GWA:</strong> {{GS.GWA}}</h3></td>
                                            </tr>

                                        </tbody>
                                    </table>


                                </div>
                            </div>

                        </div>
                        <div class="panel-heading">Membership in Organizations in and outside of school (Current Year)</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Organization name</th>
                                            <th>Position held</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="studeOrg in OrgList">
                                            <td>{{studeOrg.Organization}}</td>
                                            <td>{{studeOrg.PositionHeld}}</td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>


                        </div>
                        <div class="panel-heading">Academic Awards (Grade 11 and 12)</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name of Awards</th>
                                            <th>Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="awardStud in AwardList">
                                            <td>{{awardStud.NameOfAward}}</td>
                                            <td>{{(AcademicAwardLevels|filter:{'AALID':awardStud.AALID}:true)[0].Name }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="panel-heading">Grade 11 and 12 Academic Tracks</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Grade</th>
                                            <th>Tracks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="awardTRacks in GetTracks ">
                                            <td>{{awardTRacks.GradeNumber}}</td>
                                            <td>{{awardTRacks.AcademicTrack1}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><label>Family Background Information</label></div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name of Member</th>
                                        <th>Relation</th>
                                        <th>Date of Birth</th>
                                        <th>Educational Attainment</th>
                                        <th>Last School Attended</th>
                                        <th>Work</th>
                                        <th>Marital Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fam in FamilyBglist">
                                        <td>{{fam.FBID}}</td>
                                        <td>{{fam.MemberName}}</td>
                                        <td>{{(GetFamilyMembersss|filter:{'FMID':fam.FMID}:true)[0].Name }}</td>
                                        <td>{{fam.DateOfBirth}}</td>
                                        <td>{{(EducAttains|filter:{'EAID':fam.EAID}:true)[0].Name }}</td>
                                        <td>{{fam.LastSchoolAttended}}</td>
                                        <td>{{fam.NatureOfWork}}</td>
                                        <td>{{(maritalstatus|filter:{'MaritalStatusID':fam.MaritalStatusID}:true)[0].Name }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Table -->

                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>2x2 Picture Attachment</label></div>
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="a in AppAttachList">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{a.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{a.FIle}}" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{a.FIle}}" tar target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>

                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Attachments</label></div>
                        <div class="panel-body">

                            <div class="list-group" ng-repeat="b in Myreport">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{b.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{b.File}}" cla class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{b.File}}" tar target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>ITR Attachment</label></div>
                        <div class="panel-body">

                            <div class="list-group" ng-repeat="c in Myitr">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{c.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{c.File}}" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{c.File}}" tar target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>House Sketch Attachment</label></div>
                        <div class="panel-body">

                            <div class="list-group" ng-repeat="d in Mysketch">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{d.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{d.File}}" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{d.File}}" tar target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    @*<div class="modal fade" id="myAdministratorModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Applicant Complete Details</h4>
                </div>
                <div class="modal-body">

                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Personal Background</label></div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="stude in PersonalBgList">
                                <div class="col-md-17">
                                    <div class="col-md-7 list-group-item">
                                        <label>Applicant ID:</label>
                                        {{stude.SID}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Application ID:</label>
                                        {{stude.ApplicationID}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Full name:</label>
                                        {{stude.FirstName}},{{stude.LastName}},{{stude.MiddleName}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Religion:</label>
                                        {{(GetReligionList|filter:{'ReligionID':stude.ReligionID}:true)[0].Name }}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Email:</label>
                                        {{stude.Email}}

                                    </div>
                                    <div class="col-md-7">
                                        <label>Date Of Birth:</label>
                                        {{stude.DateOfBirth}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>MaritalStatus:</label>
                                        {{(maritalstatus|filter:{'MaritalStatusID':stude.MaritalStatusID}:true)[0].Name }}
                                </div>
                                    <div class="col-md-7">
                                        <label>Gender:</label>
                                        {{stude.Gender}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Place of Birth:</label>
                                        {{stude.PlaceOfBirth}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Nationality:</label>
                                        {{stude.Nationality}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Height (cm):</label>
                                        {{stude.Height}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Weight (kg):</label>
                                        {{stude.Weight}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Family Income:</label>
                                        {{stude.AggregiateFamilyIncome}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Registration Date:</label>
                                        {{stude.DatePosted}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Present Address:</label>
                                        {{stude.HomeAddress}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Permanent Address:</label>
                                        {{stude.PermanentAddress}}
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="panel-heading">Contact Information</div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="conat in ContactLists">
                                <div class="col-md-17">
                                    <div class="col-md-7">

                                        <label>{{conat.Type}}:</label>
                                        {{conat.ContactNumber1}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Academic Background</label> </div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="acadbg in acadbgList">
                                <div class="col-md-7">
                                    <label>High School Name:</label>
                                    {{acadbg.HighSchoolName}}
                                </div>
                                <div class="col-md-7">
                                    <label>Section:</label>
                                    {{acadbg.Section}}
                                </div>
                                <div class="col-md-7">
                                    <label>School Address:</label>
                                    {{acadbg.CompleteAddress}}
                                </div>
                                <div class="col-md-7">
                                    <label>Name Of Principal:</label>
                                    {{acadbg.NameOfPrincipal}}
                                </div>
                                <div class="col-md-7">
                                    <label>School Telephone:</label>
                                    {{acadbg.SchoolTelno}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading">Academic Awards Received at Secondary Level (Grade 11 and 12 only)</div>
                        <div class="panel-body">

                            <div class="col-md-17">
                                <div class="col-md-7">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="studeGr in StudentGradeList">
                                                <td>{{studeGr.Subject}}</td>
                                                <td>{{studeGr.Grade}}</td>
                                            </tr>
                                            <tr ng-repeat="GS in MyOwnGwa">
                                                <td><h3><strong>GWA:</strong> {{GS.GWA}}</h3></td>
                                            </tr>

                                        </tbody>
                                    </table>


                                </div>
                            </div>

                        </div>
                        <div class="panel-heading">Membership in Organizations in and outside of school (Current Year)</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Organization name</th>
                                            <th>Position held</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="studeOrg in OrgList">
                                            <td>{{studeOrg.Organization}}</td>
                                            <td>{{studeOrg.PositionHeld}}</td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>


                        </div>
                        <div class="panel-heading">Academic Awards (Grade 11 and 12)</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name of Awards</th>
                                            <th>Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="awardStud in AwardList">
                                            <td>{{awardStud.NameOfAward}}</td>
                                            <td>{{(AcademicAwardLevels|filter:{'AALID':awardStud.AALID}:true)[0].Name }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="panel-heading">Grade 11 and 12 Academic Tracks</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Grade</th>
                                            <th>Tracks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="awardTRacks in GetTracks ">
                                            <td>{{awardTRacks.GradeNumber}}</td>
                                            <td>{{awardTRacks.AcademicTrack1}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><label>Family Background Information</label></div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name of Member</th>
                                        <th>Relation</th>
                                        <th>Date of Birth</th>
                                        <th>Educational Attainment</th>
                                        <th>Last School Attended</th>
                                        <th>Work</th>
                                        <th>Marital Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fam in FamilyBglist">
                                        <td>{{fam.FBID}}</td>
                                        <td>{{fam.MemberName}}</td>
                                        <td>{{(GetFamilyMembersss|filter:{'FMID':fam.FMID}:true)[0].Name }}</td>
                                        <td>{{fam.DateOfBirth}}</td>
                                        <td>{{(EducAttains|filter:{'EAID':fam.EAID}:true)[0].Name }}</td>
                                        <td>{{fam.LastSchoolAttended}}</td>
                                        <td>{{fam.NatureOfWork}}</td>
                                        <td>{{(maritalstatus|filter:{'MaritalStatusID':fam.MaritalStatusID}:true)[0].Name }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Table -->

                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>2x2 Picture Attachment</label></div>
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="a in AppAttachList">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{a.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{a.FIle}}" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{a.FileName}}" target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>

                                

                            </div>
                           
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Attachments</label></div>
                        <div class="panel-body">
                           
                            <div class="list-group" ng-repeat="b in Myreport">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{b.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{b.File}}" cla class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{b.File}}" tar target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>ITR Attachment</label></div>
                        <div class="panel-body">

                            <div class="list-group" ng-repeat="c in Myitr">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{c.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{c.File}}" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{c.FileName}}" target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>House Sketch Attachment</label></div>
                        <div class="panel-body">

                            <div class="list-group" ng-repeat="d in Mysketch">
                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{d.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{d.File}}" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/ShowAllStudentAdmin/GetFileFromDisk/?AppAttchDl={{d.FileName}}" target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@






</div>

@section scripts{

    <script type="text/javascript">


        App.controller('AcceptedStudController', ['$scope', '$http', 'jsonFilter', '$filter', function ($scope, $http, jsonFilter, $filter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }

            $scope.Status = null;
            var date = new Date();
            $scope.ddMMMMyyyy = $filter('date')(new Date(), 'dd, MMMM yyyy');
            var x = "Accepted Application" + "(" + $scope.ddMMMMyyyy + ")" + ".xls";
            $scope.exportDataAllAcceptedApplicants = function () {
                var blob = new Blob([document.getElementById('acceptedapp').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, x);
            };
            //get PARTIAL STUD DETAILS StudentList
            $scope.partialDetails = function ()
            {
                $http.post("/ShowAllStudentAdmin/PartialDetailsAccepted")
                .success(function (data, status, header, config) {

                    $scope.GetMaritalStatus();
                    $scope.GetAcademicAwardLevels();
                    $scope.GetEducationalAttainment();
                    $scope.GetFamilyMembers();
                    $scope.GetMaritalStatus();
                    $scope.GetReligion();
                    $scope.partialDetailsList = data;


                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }


            $scope.SelectStud = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var filtrId = JSON.stringify($scope.partialDetailsList[index]);

                $http.post("/ShowAllStudentAdmin/GetAllGrades",filtrId, options)
                .success(function (data, status, header, config) {
                    $scope.StudentGradeList = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

                $http.post("/ShowAllStudentAdmin/GetGwaAdmin", filtrId, options)
              .success(function (data, status, header, config) {
                  $scope.MyOwnGwa = data;

                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });
                $http.post("/ShowAllStudentAdmin/GetAllOrganization",filtrId, options)
                .success(function (data, status, header, config) {
                    $scope.OrgList = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

                $http.post("/ShowAllStudentAdmin/GetAllPersonalBg", filtrId, options)
              .success(function (data, status, header, config) {


                  $scope.PersonalBgList = data;


                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });

                $http.post("/ShowAllStudentAdmin/GetAllContact", filtrId, options)
               .success(function (data, status, header, config) {
                   $scope.ContactLists = data;

                   logResult("SUCCESS", data, status, header, config);
               })
               .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
               });


                $http.post("/ShowAllStudentAdmin/GetAllAwards", filtrId, options)
             .success(function (data, status, header, config) {
                 $scope.AwardList = data;

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {
                 logResult("SUCCESS", data, status, header, config);
             });

                $http.post("/ShowAllStudentAdmin/GetAllFamilyMember", filtrId, options)
            .success(function (data, status, header, config) {
                $scope.FamilyBglist = data;

                logResult("SUCCESS", data, status, header, config);
            })
            .error(function (data, status, header, config) {
                logResult("SUCCESS", data, status, header, config);
            });

                $http.post("/ShowAllStudentAdmin/GetAllAcademicBg", filtrId, options)
              .success(function (data, status, header, config) {
                  $scope.acadbgList = data;

                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });

                $http.post("/ShowAllStudentAdmin/GetMyownTracksAdmin", filtrId, options)
               .success(function (data, status, header, config) {

                   $scope.GetTracks = data;
                   logResult("SUCCESS", data, status, header, config);
               })
               .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
               });

                $http.post("/ShowAllStudentAdmin/GetAllAppAttach", filtrId, options)
          .success(function (data, status, header, config) {
              $scope.AppAttachList = data;

              logResult("SUCCESS", data, status, header, config);
          })
          .error(function (data, status, header, config) {
              logResult("SUCCESS", data, status, header, config);
          });

                $http.post("/ShowAllStudentAdmin/getMyReportCard", filtrId, options)
         .success(function (data, status, header, config) {
             $scope.Myreport = data;

             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });

                $http.post("/ShowAllStudentAdmin/getMyITR", filtrId, options)
         .success(function (data, status, header, config) {
             $scope.Myitr = data;

             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });

                $http.post("/ShowAllStudentAdmin/getMySketch", filtrId, options)
         .success(function (data, status, header, config) {
             $scope.Mysketch = data;

             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });


            }
            //GetMaritalStatus
            $scope.GetMaritalStatus = function () {
                $http.post("/ShowMaintenance/GetMaritalStatus")
                .success(function (data, status, header, config) {

                    $scope.maritalstatus = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //GetAwardLevel
            $scope.GetAcademicAwardLevels = function () {
                $http.post("/ShowMaintenance/GetAcademicAwardLevel")
                .success(function (data, status, header, config) {

                    $scope.AcademicAwardLevels = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////Get EducationalAttainemnt
            $scope.GetEducationalAttainment = function () {
                $http.post("/ShowMaintenance/GetEducationalAttainment")
                .success(function (data, status, header, config) {

                    $scope.EducAttains = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////GetFamilyMember
            $scope.GetFamilyMembers = function () {
                $http.post("/ShowMaintenance/GetFamilyMembers")
                .success(function (data, status, header, config) {

                    $scope.GetFamilyMembersss = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //GetMaritalStatus
            $scope.GetMaritalStatus = function () {
                $http.post("/ShowMaintenance/GetMaritalStatus")
                .success(function (data, status, header, config) {

                    $scope.maritalstatus = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetReligion = function () {
                $http.post("/ShowMaintenance/Getreligion")
                .success(function (data, status, header, config) {

                    $scope.GetReligionList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            $scope.DownLoadFile = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };


                var newStudentRegisterData = JSON.stringify({ AppAttchDl: $scope.AppAttachList[index].FileName });
                $http.post("/ShowAllStudentAdmin/GetFileFromDisk", newStudentRegisterData, options)
               .success(function (data, status, header, config) {

                   alert("success");
                   logResult("SUCCESS", data, status, header, config);
               })
            .error(function (data, status, header, config) {
                alert("Error");
                logResult("SUCCESS", data, status, header, config);
            });
            };
            //Toggle Status
            $scope.toggleStatus = function (index) {
                $scope.partialDetailsList[index].IsEdit = true;
            };
            //Update Function
           
            $scope.UpdateStudentStatusDeclined = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                $scope.partialDetailsList[index].Status = "Declined";

                var StatusInfo = JSON.stringify({ PersonalupdateAdmin: $scope.partialDetailsList[index] });
                $http.post("/ShowAllStudentAdmin/UpdateStatusStudent", StatusInfo, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    $scope.partialDetailsList[index] = data.Record;
                    $scope.partialDetailsList.splice(index, 1);
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
        }]);

    </script>
}

