﻿@{
    ViewBag.Title = "StudentComparison";
}
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }

    #Pass {
        background-color: #82E0AA;
        margin: 0 auto;
  
        padding: 10px;
    }

    #fail {
        background-color: #FA8072;
        margin: 0 auto;
        
        padding: 10px;
    }

    .search-form .form-group {
        float: right !important;
        transition: all 0.35s, border-radius 0s;
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border-radius: 25px;
        border: 1px solid #ccc;
    }

        .search-form .form-group input.form-control {
            padding-right: 20px;
            border: 0 none;
            background: transparent;
            box-shadow: none;
            display: block;
        }

            .search-form .form-group input.form-control::-webkit-input-placeholder {
                display: none;
            }

            .search-form .form-group input.form-control:-moz-placeholder {
                /* Firefox 18- */
                display: none;
            }

            .search-form .form-group input.form-control::-moz-placeholder {
                /* Firefox 19+ */
                display: none;
            }

            .search-form .form-group input.form-control:-ms-input-placeholder {
                display: none;
            }

        .search-form .form-group:hover,
        .search-form .form-group.hover {
            width: 100%;
            border-radius: 4px 25px 25px 4px;
        }

        .search-form .form-group span.form-control-feedback {
            position: absolute;
            top: -1px;
            right: -2px;
            z-index: 2;
            display: block;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            color: #3596e0;
            left: initial;
            font-size: 14px;
        }
</style>
<h2>Exam Results</h2>

<div ng-controller="SecondQualificationTest" ng-init="GetMoodleResult()">
   
  
    <div class="row">
        <br />
        <br />
    </div>

    <div id="exportable">
       <table class="table">
           <thead style="background-color:#42b3f4;">
               <tr>
                   <td>
                       <label>Action</label>
                   </td>
                   <td>
                       <label>Student Name</label>
                       
                   </td>
                   <td>
                       <label>Moodle Grade</label>
                       
                   </td>

               </tr>

           </thead>
           <tbody>
               <tr ng-repeat="st in Studentlits">
                   <td>
                       <div ng-if="st.Status == 'For Exam'">
                           <input type="checkbox" ng-model="IsSelected" ng-change="ShowSelectedStudent(st.SID,IsSelected,$index)" />
                       </div>
                   </td>
                   <td>
                       {{(StudentName|filter:{'SID':st.SID}:true)[0].FirstName }},
                       {{(StudentName|filter:{'SID':st.SID}:true)[0].MiddleName }},
                       {{(StudentName|filter:{'SID':st.SID}:true)[0].LastName }}
                   </td>
                   <td>
                       <div ng-switch="st.ModdleGrade">
                           <div id="fail" ng-if="st.ModdleGrade < '70' ">
                               {{st.grade}}
                           </div>
                           <div id="pass" ng-if="st.ModdleGrade >= '70' ">
                               {{st.grade}}
                           </div>
                       </div>
                   </td>
               </tr>
           </tbody>
       </table>
    </div>
   

    <div class="row">
        <button class="btn btn-success" ng-click="UpdateStatusofStudent()">Submit For Interview</button>
        <button class="btn-primary" ng-click="exportData()">Export to Excel</button>
    </div>


</div>
@section scripts
{
    <script type="text/javascript">
        App.controller('SecondQualificationTest', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.exportData = function () {
                var blob = new Blob([document.getElementById('exportable').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, "MoodleGrade.xls");
            };
            $scope.interviewersss = "";
            $scope.isselected = [];
            $scope.isselectedSid = [];
            $scope.MuniStan = [];
            $scope.Studentlits = [];
            $scope.Another = false;
            $scope.default = function () {
                $scope.PassLugar = "";
                $scope.Blacnko = null;
            }
            $scope.GetnameOfStudent = function ()
            {
                $http.post("/ShowMaintenance/GetStudentForInterview")
             .success(function (data, status, header, config) {
               

                 $scope.StudentName = data;

                 logResult("SUCCESS", data, status, header, config);
                 console.log($scope.PassLugar);

             })
             .error(function (data, status, header, config) {
                 logResult("SUCCESS", data, status, header, config);
             });
            }
            $scope.GetMoodleResult = function () {
                $http.post("/ShowAllStudentAdmin/GetStudentExamResult")
                .success(function (data, status, header, config) {
                   
                  
                    $scope.GetInterviewer();
                    $scope.GetnameOfStudent();
                    $scope.Studentlits = data;

                    logResult("SUCCESS", data, status, header, config);
                    console.log($scope.PassLugar);

                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

                /////////////
                $http.post("/ShowAllStudentAdmin/GetAllQualifiedMuni")
              .success(function (data, status, header, config) {

                  $scope.MuniStan = data;
                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });


            } 
            $scope.ShowSelectedStudent = function (SID, isChecked, index) {
                if (isChecked) {
                   
                    $scope.isselected.push(SID);
                
                } else {
                    var _index = $scope.isselected.indexOf(SID);
                  
                    $scope.isselected.splice(_index, 1);
                }

                console.log($scope.isselected);
             
            }
            $scope.UpdateStatusofStudent = function (studId,InID) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var UpdateStudentStatus = JSON.stringify({
                    SID: $scope.isselected,
                });
                $http.post("/ShowAllStudentAdmin/updateWaitingForinterview" ,UpdateStudentStatus, options)
                .success(function (data, status, header, config) {

                    // $scope.Studentlits.splice(index, 1);
                    window.location.reload();
                    logResult("SUCCESS", data, status, header, config);

                })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });

            }
            $scope.GetInterviewer = function () {
                $http.post("/ShowMaintenance/GetInterviewerOnly")
                .success(function (data, status, header, config) {
                    $scope.interviewers1List = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
        }]);
    </script>
}