﻿

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<div ng-controller="AcceptedStudController" ng-init="partialDetails()">
<div class="col-md-12" id="FinalApprovalList">
  
    <table class="table table-striped table-hover table-striped table-condensed">
        <thead>
            <tr>

                <th><center>Applicant ID</center></th>
                <th><center>Fullname</center></th>
                <th><center>Family Income</center></th>
                <th><center>School Address</center></th>
                <th><center>Moodle Score</center></th>
                <th><center>Interview Score</center></th>
                <th><center>Computed Score</center></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in FinalApprovalList">
                <td>
                    {{a.SID}}
                </td>
                <td>
                    {{a.FirstName}},{{a.MiddleName}},{{a.LastName}}
                </td>
                <td>
                    {{a.AggregiateFamilyIncome}}
                </td>
                <td>
                    {{a.CompleteAddress}}
                </td>
                
                <td>
                   {{a.Grade}} out of 70
                </td>
                <td>
                    {{a.interviewGrade}} out of 100
                </td>
                <td>
                    {{(a.interviewGrade/100*30) + (a.Grade/70*70)}}%
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="row">
       
        <button class="btn-primary" ng-click="exportDataFinalApproval()">Export to Excel</button>
    </div>

</div>

@section scripts{

    <script type="text/javascript">


        App.controller('AcceptedStudController', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            var date = new Date();
            $scope.ddMMMMyyyy = $filter('date')(new Date(), 'dd, MMMM yyyy');
            var x = "Final Approval"+"("+$scope.ddMMMMyyyy+")"+ ".xls";
            
            $scope.exportDataFinalApproval = function () {
                var blob = new Blob([document.getElementById('FinalApprovalList').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, x);
            };
            $scope.Status = null;

            //get PARTIAL STUD DETAILS StudentList
            $scope.partialDetails = function ()
            {
                $http.post("/ShowAllStudentAdmin/FinalApprovaLView")
                .success(function (data, status, header, config) {

                    $scope.GetMaritalStatus();
                    $scope.GetAcademicAwardLevels();
                    $scope.GetEducationalAttainment();
                    $scope.GetFamilyMembers();
                    $scope.GetMaritalStatus();
                    $scope.GetReligion();
                    $scope.FinalApprovalList = data;


                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }


            $scope.SelectStud = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var filtrId = JSON.stringify($scope.partialDetailsList[index]);

                $http.post("/ShowAllStudentAdmin/GetAllGrades",filtrId, options)
                .success(function (data, status, header, config) {
                    $scope.StudentGradeList = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

                $http.post("/ShowAllStudentAdmin/GetGwaAdmin", filtrId, options)
              .success(function (data, status, header, config) {
                  $scope.MyOwnGwa = data;

                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });
                $http.post("/ShowAllStudentAdmin/GetAllOrganization",filtrId, options)
                .success(function (data, status, header, config) {
                    $scope.OrgList = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

                $http.post("/ShowAllStudentAdmin/GetAllPersonalBg", filtrId, options)
              .success(function (data, status, header, config) {


                  $scope.PersonalBgList = data;


                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });

                $http.post("/ShowAllStudentAdmin/GetAllContact", filtrId, options)
               .success(function (data, status, header, config) {
                   $scope.ContactLists = data;

                   logResult("SUCCESS", data, status, header, config);
               })
               .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
               });


                $http.post("/ShowAllStudentAdmin/GetAllAwards", filtrId, options)
             .success(function (data, status, header, config) {
                 $scope.AwardList = data;

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {
                 logResult("SUCCESS", data, status, header, config);
             });

                $http.post("/ShowAllStudentAdmin/GetAllFamilyMember", filtrId, options)
            .success(function (data, status, header, config) {
                $scope.FamilyBglist = data;

                logResult("SUCCESS", data, status, header, config);
            })
            .error(function (data, status, header, config) {
                logResult("SUCCESS", data, status, header, config);
            });

                $http.post("/ShowAllStudentAdmin/GetAllAcademicBg", filtrId, options)
              .success(function (data, status, header, config) {
                  $scope.acadbgList = data;

                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });

                $http.post("/ShowAllStudentAdmin/GetMyownTracksAdmin", filtrId, options)
               .success(function (data, status, header, config) {

                   $scope.GetTracks = data;
                   logResult("SUCCESS", data, status, header, config);
               })
               .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
               });

                $http.post("/ShowAllStudentAdmin/GetAllAppAttach", filtrId, options)
          .success(function (data, status, header, config) {
              $scope.AppAttachList = data;

              logResult("SUCCESS", data, status, header, config);
          })
          .error(function (data, status, header, config) {
              logResult("SUCCESS", data, status, header, config);
          });

                $http.post("/ShowAllStudentAdmin/getMyReportCard", filtrId, options)
         .success(function (data, status, header, config) {
             $scope.Myreport = data;

             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });

                $http.post("/ShowAllStudentAdmin/getMyITR", filtrId, options)
         .success(function (data, status, header, config) {
             $scope.Myitr = data;

             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });

                $http.post("/ShowAllStudentAdmin/getMySketch", filtrId, options)
         .success(function (data, status, header, config) {
             $scope.Mysketch = data;

             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });


            }
            //GetMaritalStatus
            $scope.GetMaritalStatus = function () {
                $http.post("/ShowMaintenance/GetMaritalStatus")
                .success(function (data, status, header, config) {

                    $scope.maritalstatus = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //GetAwardLevel
            $scope.GetAcademicAwardLevels = function () {
                $http.post("/ShowMaintenance/GetAcademicAwardLevel")
                .success(function (data, status, header, config) {

                    $scope.AcademicAwardLevels = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////Get EducationalAttainemnt
            $scope.GetEducationalAttainment = function () {
                $http.post("/ShowMaintenance/GetEducationalAttainment")
                .success(function (data, status, header, config) {

                    $scope.EducAttains = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////GetFamilyMember
            $scope.GetFamilyMembers = function () {
                $http.post("/ShowMaintenance/GetFamilyMembers")
                .success(function (data, status, header, config) {

                    $scope.GetFamilyMembersss = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //GetMaritalStatus
            $scope.GetMaritalStatus = function () {
                $http.post("/ShowMaintenance/GetMaritalStatus")
                .success(function (data, status, header, config) {

                    $scope.maritalstatus = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetReligion = function () {
                $http.post("/ShowMaintenance/Getreligion")
                .success(function (data, status, header, config) {

                    $scope.GetReligionList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            $scope.DownLoadFile = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };


                var newStudentRegisterData = JSON.stringify({ AppAttchDl: $scope.AppAttachList[index].FileName });
                $http.post("/ShowAllStudentAdmin/GetFileFromDisk", newStudentRegisterData, options)
               .success(function (data, status, header, config) {

                   alert("success");
                   logResult("SUCCESS", data, status, header, config);
               })
            .error(function (data, status, header, config) {
                alert("Error");
                logResult("SUCCESS", data, status, header, config);
            });
            };
            //Toggle Status
            $scope.toggleStatus = function (index) {
                $scope.partialDetailsList[index].IsEdit = true;
            };



        }]);

    </script>
}



