﻿
@{
    ViewBag.Title = "ForExamination";
}

<h2>Schedule For Examination</h2>
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }

    #Pass {
        background-color: #82E0AA;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
    }

    #fail {
        background-color: #FA8072;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
    }

    
</style>


<div ng-controller="ThirdQualification" ng-init="GetStudent()">
    <div class="row">
        <div class="form-group">


            <div class="col-md-5">
                <br />
                <br />
                <input type="text" ng-model="searchkeyword" placeholder="search" class="form-control" />


                

            </div>
            <div class="col-md-3">
                <br />
                <br />
                <select class="form-control" ng-change="GetMunicipalityinArea(ExamVenue)" ng-model="ExamVenue" ng-options="qualifiedarea.Name as qualifiedarea.Name for qualifiedarea  in nameofarea">
                    <option value="">All</option>
                </select>


              
            </div>

        </div>

    </div>


    <div class="row">
        <br />
        <br />
    </div>
    <div id="forexam">

        <table class="table">
            <thead style="background-color:#42b3f4;">
                <tr>
                    <td class="table-active"><label>Action</label></td>
                    <td>
                        <label>
                            Name
                        </label>


                    </td>
                    <td><label>Email</label></td>
                    <td>
                        <label>Status Schedule</label>

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="st in Studentlits | filter:searchkeyword" ng-if="selectedstudent == null || ExamVenue == null">
                    <td>
                        <div ng-if="st.examSchedStat == 0">
                            <input type="checkbox" ng-model="selected" ng-change="ShowSelectedStudent(st.Email,st.SID,selected,$index)" />
                        </div>
                    </td>
                    <td>
                        <div>
                            {{st.FirstName}},{{st.MiddleName}},{{st.LastName}}
                        </div>

                    </td>
                    <td>
                        <div>
                            {{st.Email}}
                        </div>
                    </td>
                    <td>
                        <div ng-if="st.examSchedStat == 0">
                            <label>No Exam Schedule</label>
                        </div>
                        <div ng-if="st.examSchedStat == 1">
                            <label>Scheduled</label>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="st in selectedstudent| filter:searchkeyword" ng-if="selectedstudent != ''">
                    <td>
                        <div ng-if="st.examSchedStat == 0">
                            <input type="checkbox" ng-model="selected" ng-change="ShowSelectedStudent(st.Email,st.SID,selected,$index)" />
                        </div>
                    </td>
                    <td>
                        <div>
                            {{st.FirstName}},{{st.MiddleName}},{{st.LastName}}
                        </div>

                    </td>
                    <td>
                        <div>
                            {{st.Email}}
                        </div>
                    </td>
                    <td>
                        <div ng-if="st.examSchedStat == 0">
                            <label>No Exam Schedule</label>
                        </div>
                        <div ng-if="st.examSchedStat == 1">
                            <label>Scheduled</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  
        <div class="row">
            <button class="btn btn-success" data-toggle="modal" data-target="#AssignExamScheduleDetails">Add Detail on Exam schedule</button>
            <button class="btn-primary" ng-click="exportDataForExam()">Export to Excel</button>
        </div>

        <div class="modal fade" id="AssignExamScheduleDetails" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Exam Schedule Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-7">
                                <label>Time of Exam</label>
                                <input type="text" ng-model="ExamTime" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Date of Exam</label>
                                <input type="date" ng-model="ExamDate" class="form-control" />
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-7">
                                <label>Venue of Exam</label>
                                <select class="form-control" ng-model="ExamVenue" ng-options="qualifiedarea.Name as qualifiedarea.Name for qualifiedarea  in nameofarea">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">

                                <label>Name of Proctor</label>
                                <input type="text" ng-model="ExamProctor" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label>Email Address</label>
                                <input type="text" ng-model="EmailProctor" class="form-control" />
                            </div>
                        </div>






                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="InsertExamSchedule()"> Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

@section scripts
{
    <script type="text/javascript">
        App.controller('ThirdQualification', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.exportDataForExam = function () {
                var blob = new Blob([document.getElementById('forexam').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, "ForExamination.xls");
            };
            //// Exam Schedule
           // $scope.ExamVenue = "";
            $scope.ExamDate = "";
            $scope.ExamTime = "";
            $scope.ExamProctor = "";
            $scope.EmailProctor = "";
            $scope.InsertExamSchedule = function () {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var DataToInsert = JSON.stringify({
                    StudId: $scope.isselected,
                    StudEmail:$scope.isselectedEmail,
                    ProctorEmail: $scope.EmailProctor,
                    nameOfProctor: $scope.ExamProctor,
                    VenueOfExam: $scope.ExamVenue,
                    Time:  $scope.ExamTime,
                    dateExam:$scope.ExamDate,
                });
                $http.post("/ShowAllStudentAdmin/AddExamSchdeulDetails", DataToInsert, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     toastr.error(data.Message, "");
                     return;
                 }
                 window.location.reload();
                 logResult("SUCCESS", data, status, header, config);

             })
          .error(function (data, status, header, config) {

              logResult("SUCCESS", data, status, header, config);
          });

            }
            ////
            $scope.isselected = [];
            $scope.isselectedEmail = [];
            $scope.MuniStan = [];
          
            $scope.Studentlits = [];
            $scope.Another = false;
            $scope.default = function () {
                $scope.PassLugar = "";
            }
            $scope.GetStudent = function () {
                $http.post("/ShowAllStudentAdmin/GetStudentForExam")
                .success(function (data, status, header, config) {
                    $scope.GetGrades();
                    $scope.GetFamilyIncome();
                    $scope.GetNameOfQualifiedArea();
                    $scope.PassLugar = null;
                    $scope.PassGwa = null;
                    $scope.munionly();
                    $scope.Studentlits = data;

                    logResult("SUCCESS", data, status, header, config);
                    console.log($scope.PassLugar);

                })
                .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
                });

                /////////////
                $http.post("/ShowAllStudentAdmin/GetAllQualifiedMuni")
              .success(function (data, status, header, config) {

                  $scope.MuniStan = data;
                logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });


            }
            $scope.GetGrades = function () {
                $http.post("/ShowAllStudentAdmin/GetGradesStandard")
                .success(function (data, status, header, config) {

                    $scope.GwaStandard = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetNameOfQualifiedArea = function () {
                $http.post("/ShowMaintenance/GetQualifiedAreaname")
                .success(function (data, status, header, config) {

                    $scope.nameofarea = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.munionly = function () {
                $http.post("/ShowAllStudentAdmin/GetAllQualifiedMuni")
                .success(function (data, status, header, config) {

                    $scope.munimo = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetFamilyIncome = function () {
                $http.post("/ShowAllStudentAdmin/GetFamilyIncomeStandard")
                .success(function (data, status, header, config) {

                    $scope.FamilyIncomeStandard = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.ShowSelectedStudent = function (studemail,StudentId, isChecked, index) {
                if (isChecked) {

                    $scope.isselected.push(StudentId);
                    $scope.isselectedEmail.push(studemail);
                } else {
                    var _index = $scope.isselected.indexOf(StudentId);
                    $scope.isselected.splice(_index, 1);
                    var _indexEmail = $scope.isselectedEmail.indexOf(studemail);
                    $scope.isselectedEmail.splice(_indexEmail, 1);
                }

                console.log($scope.isselected);
                console.log($scope.isselectedEmail);
            }
            $scope.UpdateStatusofStudent = function ()
            {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var UpdateStudentStatus = JSON.stringify({
                    StudID: $scope.isselected,


                });
                $http.post("/ShowAllStudentAdmin/updateWaitingForinterview", UpdateStudentStatus, options)
                .success(function (data, status, header, config) {


                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }

                    logResult("SUCCESS", data, status, header, config);

                })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });

            }
            $scope.GetMunicipalityinArea = function (muniko) {

                $scope.selectedmuni = [];
                $scope.selectedstudent = [];
                for (var i = 0; i < $scope.munimo.length; i++) {

                    if ($scope.munimo[i].NameOfArea == muniko) {
                        $scope.selectedmuni.push($scope.munimo[i].Muni);
                    }

                }

                for (var i = 0; i < $scope.Studentlits.length; i++) {

                    for (var b = 0; b < $scope.selectedmuni.length; b++) {
                        if ($scope.Studentlits[i].municipalitySchool == $scope.selectedmuni[b]) {
                            $scope.selectedstudent.push($scope.Studentlits[i]);
                        }
                    }
                }
                console.log($scope.Studentlits);
                console.log($scope.selectedstudent);
                console.log($scope.selectedmuni);
               
            }

        }]);
    </script>
}