﻿

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>

<div ng-controller="AcceptedStudController" ng-init="partialDetails()">





    <div class="col-md-16" id="exportable">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Action</th>
                    <th>Applicant ID</th>
                    <th>Full name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in partialDetailsList">
                    <td>
                        <a class="btn  btn-info" ng-click="SelectStud($index)" data-toggle="modal" data-target="#myAdministratorModal"><i class="glyphicon glyphicon-eye-open"> </i>View Result&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <div ng-if="stud.Status =='Done For Interview'">
                            <br />
                            <a class="btn  btn-success" ng-click="SelectStud($index)" data-toggle="modal" data-target="#HomeVisitModal"><i class="glyphicon glyphicon-arrow-right"> </i>Proceed to Home Visit</a>
                        </div>
                    </td>
                    <td>{{stud.SID}}</td>
                    <td>{{stud.FirstName}},{{stud.LastName}},{{stud.MiddleName}}</td>
                    <td>{{stud.Status}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn-primary" ng-click="exportData()">Export to Excel</button>
    </div>




    <div class="modal fade" id="myAdministratorModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Applicant Interview Result</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><label>Interview Result Details</label></div>
                        <div class="panel-body">
                            <div class="row">
                               
                            </div>
                            <div class="row">
                                <div ng-repeat="i in interviewername">
                                    <label>Interviewed by</label>
                                    {{(interviewers1List|filter:{'InID':i.InID}:true)[0].Name }}
                                </div>
                            </div>
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th>Criteria for Interview</th>
                                        <th>Score</th>
                                        <th>Remarks</th>
                                    
                                        
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="res in intResult">
                                        <td>{{res.Questions}}</td>
                                        <td>{{res.Grade}}</td>
                                        <td>{{res.Remarks}}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td><label>Total</label></td>
                                        <td>
                                            <input type="text" readonly value="{{calcTotal()}}" />
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                        <!-- Table -->

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="HomeVisitModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" ng-repeat="x in PersonalBgList" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Assign Home Visitor</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-5">
                                <label>Assign Visitor:</label>
                                <select class="form-control" ng-model="HomeVisitorId" ng-options="smuser.InID as smuser.Name  for smuser in HomeVisitor">
                                    <option value="">--Assign Home Visitor--</option>
                                </select>
                                <label>Applicant Address:</label>
                                <input type="text" class="form-control" readonly="readonly" value="{{x.HomeAddress}}" />
                             
                                <label>Interview Score:</label>
                                <input type="text" class="form-control" readonly value="{{calcTotal()/100*30}}%" id="actual" />
                                <div ng-repeat="b in ExamResultPercentage">
                                    <label>Moodle Exam Score:</label>
                                    <input type="text" class="form-control" readonly value="{{b.ModdleGrade/70*70}}%" />
                                    <label>Total Score:</label>
                                    <input type="text" class="form-control" readonly value="{{calcTotal()/100*30 + b.ModdleGrade/100*70}}%" />
                                    <div ng-if="(calcTotal()/100*70 + b.ModdleGrade/100*30)>= 70">
                                        <label>Pass</label>
                                    </div>
                                    <div ng-if="(calcTotal()/100*70 + b.ModdleGrade/100*30)< 70">
                                        <label>Fail</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="ProceedtoHomeVisit(x.SID,HomeVisitorId)" data-dismiss="modal">Proceed to Home Visit</button>
                    @*<a href="/ShowAllStudentAdmin/updateForHomeVisit/?pi={{x.SID}}" target="_blank">asa</a>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>





</div>

@section scripts{
    
    <script type="text/javascript">
        

        App.controller('AcceptedStudController', ['$scope', '$http', 'jsonFilter', '$filter', function ($scope, $http, jsonFilter, $filter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }

           

            var date = new Date();
            $scope.ddMMMMyyyy = $filter('date')(new Date(), 'dd, MMMM yyyy');
            var x = " For Interview Status"+"("+$scope.ddMMMMyyyy+")"+ ".xls";
            $scope.exportData = function () {
                var blob = new Blob([document.getElementById('exportable').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, x);
            };
            $scope.HomeVisitorId = "";
            $scope.Status = null;
            $scope.intResult = [];
            //get PARTIAL STUD DETAILS StudentList
            $scope.partialDetails = function ()
            {
                $http.post("/ShowAllStudentAdmin/GetStudentResultInterview")
                .success(function (data, status, header, config) {

               
                    $scope.partialDetailsList = data;
                    $scope.GetInterviewer();
                    $scope.GetApprover();
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            $scope.GetInterviewer = function () {
                $http.post("/ShowMaintenance/GetInterviewer")
                .success(function (data, status, header, config) {
                    $scope.interviewers1List = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetApprover = function () {
                $http.post("/ShowMaintenance/GetHomeVisitorOnly")
                .success(function (data, status, header, config) {
                    $scope.HomeVisitor = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.SelectStud = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var filtrId = JSON.stringify($scope.partialDetailsList[index]);
                
                $http.post("/ShowMaintenance/GetInterviewerName", filtrId, options)
            .success(function (data, status, header, config) {
                $scope.interviewername = data;



                // $scope.calcTotal($scope.intResult);
                logResult("SUCCESS", data, status, header, config);
            })
            .error(function (data, status, header, config) {
                logResult("SUCCESS", data, status, header, config);
            });
                $http.post("/ShowMaintenance/GetStudentInterviewResult", filtrId, options)
            .success(function (data, status, header, config) {
                $scope.intResult = data;



               // $scope.calcTotal($scope.intResult);
                logResult("SUCCESS", data, status, header, config);
            })
            .error(function (data, status, header, config) {
                logResult("SUCCESS", data, status, header, config);
            });
                $scope.calcTotal = function () {
                    var sum = 0;
                    for (var i = 0 ; i < $scope.intResult.length ; i++) {
                       
                        sum +=  $scope.intResult[i].Grade;
                    }
                    return sum;
                  
                };
                $http.post("/ShowAllStudentAdmin/GetAllPersonalBg", filtrId, options)
           .success(function (data, status, header, config) {


               $scope.PersonalBgList = data;


               logResult("SUCCESS", data, status, header, config);
           })
           .error(function (data, status, header, config) {
               logResult("SUCCESS", data, status, header, config);
           });
                $http.post("/ShowAllStudentAdmin/GetStudentExamResultPercentage", filtrId, options)
         .success(function (data, status, header, config) {


             $scope.ExamResultPercentage = data;


             logResult("SUCCESS", data, status, header, config);
         })
         .error(function (data, status, header, config) {
             logResult("SUCCESS", data, status, header, config);
         });


                
            }

          
            $scope.ProceedtoHomeVisit = function (op,hvid)
            {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                
                var HomeVisitData = JSON.stringify({
                    pi: op,
                    visibtorID: hvid
                });
                if (hvid == null||hvid =="") {
                    alert("Select Home Visitor");
                }
                $http.post("/ShowAllStudentAdmin/updateForHomeVisit", HomeVisitData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message)
                        return;
                    }
                    alert(data.Result);
                    window.location.reload();
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
        }]);

    </script>
}

