﻿
@{
    ViewBag.Title = "StudentComparison";
}
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<style>
    
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
    #Pass {
        background-color: #82E0AA;
        margin:0 auto;
     
        padding: 10px; 
  
    }
    #fail {
     background-color:#FA8072;
     margin:0 auto;

     padding: 10px; 
    
    }
    .search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

</style>
<h2>Partial Acceptance</h2>

<div ng-controller="SecondQualificationTest" ng-init="GetStudent()">

    <div class="row">
        <div class="form-group">


            <div class="col-md-5">
                <br />
                <br />
                <input type="text" ng-model="searchkeyword" placeholder="search" class="form-control" />



            </div>

        </div>

    </div>
    <div class="row">
       <br />
       <br />
     </div>

    @**@
    <div id="patiallyAccpeted">

        <table class="table">
            <thead style="background-color:#42b3f4;">
                <tr>
                    <td class="table-active"><label>Action</label></td>
                    <td>
                        <label>
                            School Address
                        </label>
                        <select class="form-control" ng-change="GetMunicipalityinArea(ExamVenue)" ng-model="ExamVenue" ng-options="qualifiedarea.Name as qualifiedarea.Name for qualifiedarea  in nameofarea">
                            <option value="">All</option>
                        </select>

                    </td>
                    <td><label>Family Income</label></td>
                    <td>
                        <label>GWA</label>
                        <select class="form-control" ng-model="GwaSorting">
                            <option value="">Sort GWA</option>
                            <option value="-gwaKo">Ascending</option>
                            <option value="gwaKo">Descending</option>
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="st in Studentlits | filter:searchkeyword|orderBy:GwaSorting:true" ng-if="selectedstudent == null || ExamVenue == null">
                    <td>
                        <input type="checkbox" ng-model="Selected" ng-change="ShowSelectedStudent(st.SID,Selected,$index)" />
                    </td>
                    <td>
                        <div ng-switch="st.IsQualified">
                            <div id="Pass" ng-switch-when="true">
                                {{st.HomeAddress}}
                            </div>
                            <div id="fail" ng-switch-when="false">
                                {{st.HomeAddress}}
                            </div>
                        </div>

                    </td>
                    <td>
                        <div id="Pass" ng-if="st.FamIncome <= FamilyIncomeStandard[0].fambamIncome ">
                            {{st.FamIncome|currency : 'Php ':2}}
                        </div>
                        <div id="fail" ng-if="st.FamIncome > FamilyIncomeStandard[0].fambamIncome ">
                            {{st.FamIncome|currency : 'Php ':2}}
                        </div>
                    </td>
                    <td>
                        <div ng-switch="st.IsQualifiedGWA">
                            <div id="Pass" ng-switch-when="true">
                                {{st.gwaKo}}
                            </div>
                            <div id="fail" ng-switch-when="false">
                                {{st.gwaKo}}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="st in selectedstudent | filter:searchkeyword|orderBy:GwaSorting:true" ng-if="selectedstudent != ''">
                    <td>
                        <input type="checkbox" ng-model="Selected" ng-change="ShowSelectedStudent(st.SID,Selected,$index)" />
                    </td>
                    <td>
                        <div ng-switch="st.IsQualified">
                            <div id="Pass" ng-switch-when="true">
                                {{st.HomeAddress}}
                            </div>
                            <div id="fail" ng-switch-when="false">
                                {{st.HomeAddress}}
                            </div>
                        </div>

                    </td>
                    <td>
                        <div id="Pass" ng-if="st.FamIncome <= FamilyIncomeStandard[0].fambamIncome ">
                            {{st.FamIncome|currency : 'Php ':2}}
                        </div>
                        <div id="fail" ng-if="st.FamIncome > FamilyIncomeStandard[0].fambamIncome ">
                            {{st.FamIncome|currency : 'Php ':2}}
                        </div>
                    </td>
                    <td>
                        <div ng-switch="st.IsQualifiedGWA">
                            <div id="Pass" ng-switch-when="true">
                                {{st.gwaKo}}
                            </div>
                            <div id="fail" ng-switch-when="false">
                                {{st.gwaKo}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   

        <div class="row">
            <button class="btn btn-success" ng-click="UpdateStatusofStudent()">Submit</button>
            <button class="btn-primary" ng-click="exportDataPartialAcceptance()">Export to Excel</button>
        </div>


    </div>
@section scripts
{
    <script type="text/javascript">
        App.controller('SecondQualificationTest', ['$scope', '$http', 'jsonFilter', '$filter', function ($scope, $http, jsonFilter, $filter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            var date = new Date();
            $scope.ddMMMMyyyy = $filter('date')(new Date(), 'dd, MMMM yyyy');
            var x = "Partial Acceptance" + "(" + $scope.ddMMMMyyyy + ")" + ".xls";
            $scope.exportDataPartialAcceptance = function () {
                var blob = new Blob([document.getElementById('patiallyAccpeted').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, x);
            };
            $scope.searchkeyword = "";
            $scope.isselected = [];
            $scope.MuniStan = [];
            $scope.Studentlits = [];
            $scope.Another = false;
            $scope.default = function () {
                $scope.PassLugar = "";
                $scope.Blacnko = null;
            }    
            $scope.GetStudent = function () {
                $http.post("/ShowAllStudentAdmin/GetStudentCompare")
                .success(function (data, status, header, config) {
                    $scope.GetGrades();
                    $scope.GetFamilyIncome();
                    $scope.PassLugar = "";
                    $scope.PassGwa = "";
                    $scope.GetNameOfQualifiedArea();
                    //$scope.GetMunicipalityinArea();
                    $scope.munionly();
                    $scope.Studentlits = data;
                   
                    logResult("SUCCESS", data, status, header, config);
                    console.log($scope.PassLugar);

                })
                .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
                });

                /////////////
                $http.post("/ShowAllStudentAdmin/GetAllQualifiedMuni")
              .success(function (data, status, header, config) {

                  $scope.MuniStan = data;
                logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });

              
            }
            $scope.GetGrades = function () {
                $http.post("/ShowAllStudentAdmin/GetGradesStandard")
                .success(function (data, status, header, config) {

                    $scope.GwaStandard = data;
                   
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetFamilyIncome = function () {
                $http.post("/ShowAllStudentAdmin/GetFamilyIncomeStandard")
                .success(function (data, status, header, config) {

                    $scope.FamilyIncomeStandard = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.ShowSelectedStudent = function (StudentId, isChecked, index) {
                if (isChecked) {

                    $scope.isselected.push(StudentId);

                } else {
                    var _index = $scope.isselected.indexOf(StudentId);
                    $scope.isselected.splice(_index, 1);
                }

                console.log($scope.isselected);

            }
            $scope.UpdateStatusofStudent = function ()
            {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var UpdateStudentStatus = JSON.stringify({
                    StudID: $scope.isselected,

                   
                });
                $http.post("/ShowAllStudentAdmin/updatePartialAcceptance", UpdateStudentStatus, options)
                .success(function (data, status, header, config) {


                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }
                    window.location.reload();
               
                    logResult("SUCCESS", data, status, header, config);

                })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });

            }
            $scope.GetNameOfQualifiedArea = function () {
                $http.post("/ShowMaintenance/GetQualifiedAreaname")
                .success(function (data, status, header, config) {

                    $scope.nameofarea = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.munionly = function () {
                $http.post("/ShowAllStudentAdmin/GetAllQualifiedMuni")
                .success(function (data, status, header, config) {

                    $scope.munimo = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            

            $scope.GetMunicipalityinArea = function (muniko) {

                $scope.selectedmuni = [];
                $scope.selectedstudent = [];
                for (var i = 0; i < $scope.munimo.length; i++){

                    if ($scope.munimo[i].NameOfArea == muniko) {
                        $scope.selectedmuni.push($scope.munimo[i].Muni);
                    }
                    
                }

                for (var i = 0; i < $scope.Studentlits.length; i++) {
                    
                    for (var b = 0; b < $scope.selectedmuni.length; b++) {
                        if ($scope.Studentlits[i].municipalitySchool == $scope.selectedmuni[b]) {
                            $scope.selectedstudent.push($scope.Studentlits[i]);
                        }
                    }
                }
                console.log($scope.selectedstudent);
                console.log($scope.selectedmuni);
                //var options = {
                //    headers: { 'Accept': 'application/json' },
                //    dataType: 'json'
                //};

                //var UpdateStudentStatus = JSON.stringify({
                //    a: muniko,


                //});
                //    $http.post("/ShowMaintenance/GetAllQualifiedMuniFiltered")
                //    .success(function (data, status, header, config) {

                //        $scope.nameofMuniciplaity= data;

                //        logResult("SUCCESS", data, status, header, config);
                //    })
                //    .error(function (data, status, header, config) {
                //        logResult("SUCCESS", data, status, header, config);
                //    });
                }
           
        }]);
    </script>
    }