﻿    
@{
    ViewBag.Title = "ViewInterviewDetails";
}

<h2>Home Visit Details</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
<div ng-controller="InterviewerssController" ng-init="partialDetails()">


    <div class="col-md-13" id="ForHomeVisit">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Action</th>
                    <th>Applicant ID</th>
                    <th>Full name</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in partialDetailsList">
                    <td><a class="btn btn-sm btn-info" ng-click="SelectStud($index)" data-toggle="modal" data-target="#interviewDetailsModalPerStudent"><i class="glyphicon glyphicon-eye-open"> </i> View</a></td>
                    <td>{{stud.SID}}</td>
                    <td>{{stud.FirstName}},{{stud.LastName}},{{stud.MiddleName}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="row"><button class="btn-primary" ng-click="exportData()">Export to Excel</button></div>

    <div class="modal fade" id="interviewDetailsModalPerStudent" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Qualified Applicants Results</h4>
                </div>
                <div class="modal-body">

                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Qualified Applicants Results</label></div>
                        <div class="panel-body">
                            <div class="row" ng-repeat="person in PerbgList">
                                <div class="col-md-5">
                                    <label>Applicant Name:</label>
                                    {{person.FirstName}},{{person.MiddleName}},{{person.LastName}}
                                </div>

                                <div class="col-md-5">
                                    <label>Home Address:</label>
                                    {{person.HomeAddress}}
                                </div>

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-repeat="person in interviewerDetails">
                                <div class="col-md-5">
                                    <label>Interviewed by:</label>
                                 
                                    {{(interviewers1List|filter:{'InID':person.InID}:true)[0].Name }}
                                </div>



                            </div>
                        </div>
                        <div class="panel-body">
                           
                            <div ng-repeat="category in questionnairecategoryList">
                                <label> {{(questionnairecategoryList|filter:{'CategoryId':category.CategoryId}:true)[0].Description }}</label>
                                <div ng-repeat="cat in questionnaireList | filter:{'CategoryId':category.CategoryId}">
                                   
                                    <div class="row" ng-repeat="inter in interviewDetails" ng-if="cat.QuestionId==inter.QuestionId">

                                        <div class="col-md-4">
                                            {{(QuestionnameList|filter:{'QuestionId':inter.QuestionId}:true)[0].Question }}
                                        </div>
                    

                                        <div ng-if="inter.QuestionId === 33 ||inter.QuestionId == 34">
                                            <br />
                                            <div class="col-md-2">
                                                <input type="text" readonly ng-model="inter.Status" class="form-control" />
                                            </div>
                                        </div>
                                        <div ng-if="inter.QuestionId != 33 && inter.QuestionId != 34">
                                            <div class="col-md-4">
                                                <label>Status</label>
                                                <input type="checkbox" ng-checked={{inter.Status}} disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Remarks</label>
                                            {{inter.Remarks}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                      
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>For SM Admin Only</label></div>
                        <div class="panel-body">
                            <div class="row" ng-repeat="hed in Headerlist">
                                <div class="col-md-5">
                                    <label>Status:</label>
                                    {{hed.Status}}
                                </div>   
                                <div class="col-md-5">
                                    <label>Date Approved:</label>
                                    {{hed.DatePosted}}
                                </div>
                                <div class="col-md-5">
                                    <label>Approved By:</label>
                                    
                                    {{ (interviewers1List|filter:{'InID':hed.ApprovedBy}:true)[0].Name }}

                                   
                                </div>
                              
                            </div>
                        </div>
                     


                            
                      
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{

    <script type="text/javascript">


        App.controller('InterviewerssController', ['$scope', '$http', 'jsonFilter', '$filter', function ($scope, $http, jsonFilter, $filter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            var date = new Date();
            $scope.ddMMMMyyyy = $filter('date')(new Date(), 'dd, MMMM yyyy');
            var x = "For Home Visit Status" + "(" + $scope.ddMMMMyyyy + ")" + ".xls";
            $scope.exportData = function () {
                var blob = new Blob([document.getElementById('ForHomeVisit').innerHTML], {
                    type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
                });
                saveAs(blob, x);
            };
            $scope.GetQuestionnaire = function () {
                $http.post("/ShowMaintenance/GetQuestionnaire")
                .success(function (data, status, header, config) {
                    $scope.questionnaireList = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.Status = null;
            
            //get PARTIAL STUD DETAILS StudentList
            $scope.partialDetails = function ()
            {
                $http.post("/ShowAllStudentAdmin/GetDoneApprovedStud")
                .success(function (data, status, header, config) {

                   
                    $scope.partialDetailsList = data;
                    $scope.QuestionName();
                    $scope.GetInterviewer();
                    $scope.GetQuestionnaire();
                  
                    $scope.GetQuestionnaireCategory();
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.QuestionName = function () {
                $http.post("/ShowMaintenance/GetQuestionnaire")
                .success(function (data, status, header, config) {


                    $scope.QuestionnameList = data;


                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetQuestionnaireCategory = function () {
                $http.post("/ShowMaintenance/GetQuestionnaireCategory")
                .success(function (data, status, header, config) {
                    $scope.questionnairecategoryList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.SelectStud = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
               var filtrId = JSON.stringify($scope.partialDetailsList[index]);
            
                $http.post("/ShowAllStudentAdmin/GetAllInterviewDetails", filtrId, options)
                .success(function (data, status, header, config) {
                    $scope.interviewDetails = data;

                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
/////////////////////////////////////////////////
                $http.post("/ShowAllStudentAdmin/GetAllInterviewerById", filtrId, options)
              .success(function (data, status, header, config) {
                  $scope.interviewerDetails = data;

                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });
////////////////////////////////////////////
                $http.post("/ShowAllStudentAdmin/GetAllPersonalBg", filtrId, options)
              .success(function (data, status, header, config) {
                  $scope.PerbgList = data;

                  logResult("SUCCESS", data, status, header, config);
              })
              .error(function (data, status, header, config) {
                  logResult("SUCCESS", data, status, header, config);
              });
                /////////////////////////////////////////////////
                $http.post("/ShowMaintenance/GetInterviewHeader", filtrId, options)
            .success(function (data, status, header, config) {
                $scope.Headerlist = data;

                logResult("SUCCESS", data, status, header, config);
            })
            .error(function (data, status, header, config) {
                logResult("SUCCESS", data, status, header, config);
            });
            }
            $scope.GetInterviewer = function () {
                $http.post("/ShowMaintenance/GetInterviewer")
                .success(function (data, status, header, config) {
                    $scope.interviewers1List = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
           
        }]);

    </script>
}



