﻿@{
    ViewBag.Title = "Index";
}
<h2>Questionnaire Category Maintenance</h2>
<div ng-controller="QuestionnaireCategoryController" ng-init="GetQuestionnaireCategory()">

    <div></div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Questionnaire Category
                </a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Questionnaire Category</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Category Description:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newQuestionnaireCategory.Description" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="AddNewQuestionnaireCategory()" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i> Add</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-lg-12">
            <table class="table table-striped table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Action</td>
                        <td>Category ID</td>
                        <td>Category Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="questionnairecategory in questionnairecategoryList">
                        <td>
                            <a class="btn btn-sm btn-success" ng-click="UpdateQuestionnaireCategory($index)" ng-show="questionnairecategory.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                            <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="questionnairecategory.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                            <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="questionnairecategory.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                            <a class="btn btn-sm btn-danger" ng-click="DeleteQuestionnaireCategory($index)" ng-hide="questionnairecategory.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                        </td>
                        <td>
                            {{questionnairecategory.CategoryId}}
                        </td>
                        <td>
                            <div ng-switch="questionnairecategory.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="questionnairecategory.Description" />
                                </div>
                                <div ng-switch-default>
                                    {{questionnairecategory.Description}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">


        App.controller('QuestionnaireCategoryController', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.newQuestionnaireCategory = null;

            //get QuestionnaireCategoryList
            $scope.GetQuestionnaireCategory = function ()
            {
                $http.post("/ShowMaintenance/GetQuestionnaireCategory")
                .success(function (data, status, header, config) {
                    $scope.questionnairecategoryList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            //add Interviewer
            $scope.AddNewQuestionnaireCategory = function ()
            {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var NewQuestionnaireCategoryData = JSON.stringify($scope.newQuestionnaireCategory);
                $http.post("/QuestionnaireCategory/AddQuestionnaireCategory", NewQuestionnaireCategoryData, options)

                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {

                        alert(data.Message);
                        return;
                    }
                    $scope.questionnairecategoryList.push(data.Record);
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

            }

            //Update Function
            $scope.UpdateQuestionnaireCategory = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var QuestionnaireCategoryData = JSON.stringify($scope.questionnairecategoryList[index]);
                $http.post("/QuestionnaireCategory/UpdateQuestionnaireCategory", QuestionnaireCategoryData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    //$scope.questionnairecategoryList[index] = data.Record;
                    $scope.questionnairecategoryList[index].IsEdit = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function(data, status, header, config){

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.questionnairecategoryList[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.questionnairecategoryList[index].IsEdit = false;
            };
            //DELETE interviewer
            $scope.DeleteQuestionnaireCategory = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var QuestionnaireCategoryData = JSON.stringify($scope.questionnairecategoryList[index]);

                $http.post("/QuestionnaireCategory/DeleteQuestionnaireCategory", QuestionnaireCategoryData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.questionnairecategoryList.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };



        }]);
    </script>
}

