﻿
@{
    ViewBag.Title = "Index";
}

<h2>Educational Attainment</h2>
<div ng-controller="EducationalAttainmentControllah" ng-init="getEducAttainMent()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Educational Attainment
                </a>
            </div>


        </div>



    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new Educational Attainment</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Name:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newEducationalAttainment.Name" />
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="AddEducationalAttainment()" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i> Add</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <table class="table table-striped table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Action</td>
                        <td>ID</td>
                        <td>NAME</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Edatt in EducationalAttainmetnList">
                        <td>
                            <a class="btn btn-sm btn-success" ng-click="UpdateEducationalAttainment($index)" ng-show="Edatt.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                            <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="Edatt.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                            <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="Edatt.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                            <a class="btn btn-sm btn-danger" ng-click="DeleteEducationalAttainment($index)" ng-hide="Edatt.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                        </td>
                        <td>
                            {{Edatt.EAID}}
                        </td>
                        <td>
                            <div ng-switch="Edatt.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="Edatt.Name" />
                                </div>
                                <div ng-switch-default>
                                    {{Edatt.Name}}
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        App.controller('EducationalAttainmentControllah', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }

            $scope.newEducationalAttainment = null;

            $scope.getEducAttainMent = function () {
                $http.post("/ShowMaintenance/GetEducationalAttainment")
                .success(function (data, status, header, config) {
                    $scope.EducationalAttainmetnList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.AddEducationalAttainment = function () {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var NewEducationalAttainmentData = JSON.stringify($scope.newEducationalAttainment);
                $http.post("/EducationalAttainment/AddEducationalAttainment", NewEducationalAttainmentData, options)

                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {

            
                        return;
                    }
                    $scope.EducationalAttainmetnList.push(data.Record);
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

            }
            
            $scope.UpdateEducationalAttainment = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var EducationalAttainmentData = JSON.stringify($scope.EducationalAttainmetnList[index]);
                $http.post("/EducationalAttainment/UpdateEducationalAttainment", EducationalAttainmentData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    $scope.EducationalAttainmetnList[index] = data.Record;
                    $scope.EducationalAttainmetnList[index].IsEdit = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.toggleEdit = function (index) {
                $scope.EducationalAttainmetnList[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.EducationalAttainmetnList[index].IsEdit = false;
            };
            //DELETE interviewer
            $scope.DeleteEducationalAttainment = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var EducationalAttainmentData = JSON.stringify($scope.EducationalAttainmetnList[index]);

                $http.post("/EducationalAttainment/DeleteEducationalAttainment", EducationalAttainmentData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.EducationalAttainmetnList.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };

        }]);
    </script>
    
    }
