﻿<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>



    <div ng-controller="LoginControllah">
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Student</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">SM</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <br />
                        <br />
                        <br />
                        <div class="group">
                           
                            <input type="text" class="form-control" ng-model="Authentication.Email"  placeholder="Email"/>
                        </div>
                        <br />
                        <div class="group">
                           
                            <input type="password" class="form-control" ng-model="Authentication.Password" placeholder="Password" />
                          
                        </div>
                       

                        <div class="group">
                    <div class="col-md-4">
                        <input type="button" class=" btn-success" style="height:30px; width:90px" data-toggle="modal" data-target="#myModal" ng-click="LoginStudent()" value="LOGIN" />
                    </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary" href="@Url.Action("Index","ApplicationForm")">REGISTER</a>
                               
                            </div>
                               
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">

                            <a class="btn btn-info" href="@Url.Action("ForgotPass","userAuthentication")">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <br />
                        <br />
                        <br />
                        <div class="group">
                          
                            <input id="user" type="text" ng-model="AuthenticationInterviewer.Username" class="form-control" placeholder="Username">
                        </div>
                        <br />
                        <div class="group">
                            
                            <input id="pass" type="password" ng-model="AuthenticationInterviewer.Password" class="form-control" placeholder="Password" data-type="password">
                        </div>
                        <div class="group">
                            <div class="col-md-4">
                                <input type="button" class="btn-success" style="height:30px; width:90px" ng-click="LoginInterviewer()" value="LOGIN" />
                 
                            </div>
                            
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</label>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">We'll take you a while</h4>
            </div>
            <div class="modal-body">
                <p><md-progress-linear class="md-warn" md-mode="indeterminate"></md-progress-linear></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

    @section scripts{
    <script type="text/javascript">
        App.controller('LoginControllah', ['$scope', '$http', 'jsonFilter', '$filter', '$element', '$location', function ($scope, $http, jsonFilter, $filter, $element, $location) {
            $scope.Authentication = null;
            $scope.AuthenticationAdmin = null;

            $scope.Username = "";
            $scope.Password = "";
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.LoginStudent = function () {
                
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'

                };
                var authenticationData = JSON.stringify({ personalBgs: $scope.Authentication });
                $http.post("/userAuthentication/Login", authenticationData, options)
              .success(function (data, status, header, config) {

                 
                  if (data.Result == "ERROR") {
                      toastr.error(data.Message, "");
                      return;
                  }



                  window.location.href = "/StudentProfile/Index?id=" + data.studid + "";

                 

                  logResult("SUCCESS", data, status, header, config);

              })
           .error(function (data, status, header, config) {
               alert("Login Error");
               window.location.reload();
               logResult("SUCCESS", data, status, header, config);
           });
            }

            $scope.LoginInterviewer = function () {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'

                };
                var authenticationData = JSON.stringify({
                    aps: $scope.AuthenticationInterviewer,

                });
                $http.post("/userAuthentication/LoginInterviewer", authenticationData, options)
              .success(function (data, status, header, config) {

                  alert(data.Result);
                  //if (data.Result == "ERROR") {
                  //    toastr.error(data.Message, "");
                  //    return;
                  //}



                  window.location.href = "/InterviewDetails/Index";
              

                  logResult("SUCCESS", data, status, header, config);

              })
           .error(function (data, status, header, config) {
               alert("Error");
               logResult("SUCCESS", data, status, header, config);
           });
            }
        }]);
        var myApp;
        myApp = myApp || (function () {
            var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
            return {
                showPleaseWait: function () {
                    pleaseWaitDiv.modal();
                },
                hidePleaseWait: function () {
                    pleaseWaitDiv.modal('hide');
                },

            };
        })();
          </script>

    }
