﻿
@{
    ViewBag.Title = "ForgotPass";
}

<h2>Forgot Password</h2>

<div ng-controller="ForgotPass" layout="column" ng-cloak>
    <form name="ResetStudPass" style="max-width:60%; margin:0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">Email Address</div>
            <div class="panel-body">
                <md-input-container>
                    <label>Client Name</label>
                    <input required name="clientName" ng-model="EmailToReset">
                    <div ng-messages="ResetStudPass.clientName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-button class="add-tab md-primary md-raised" ng-click="SendConfrimationLink()" ng-disabled="!EmailToReset" type="submit" style="margin-right: 0;">Submit</md-button>
            </div>
        </div>
    </form>
   

   

</div>
@section scripts
{
    <script type="text/javascript">

        App.controller('ForgotPass', ['$scope', '$http', 'jsonFilter', function($scope, $http, jsonFilter){
            $scope.EmailToReset;
            $scope.SendConfrimationLink = function () {
                var options = {
                    headers: { 'Accept': 'aaplication/Json' },
                    dataType: 'json'
                }
                var resetpassEmail = JSON.stringify({ emailReset: $scope.EmailToReset });
                $http.post("/userAuthentication/SendEmailForgotPass", resetpassEmail, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        toastr.error(data.Message, "");
                        return;
                    }
                    alert("Reset password link has sent to your email");
                })
               .error(function (data, status, header, config) {
                   alert("Error");
                   logResult("SUCCESS", data, status, header, config);
               });
            };

       
        }]);
    </script>
    }