﻿
@{
    ViewBag.Title = "UpdatePassword";
}

<h2>UpdatePassword</h2>

<div ng-controller="ResetPasssword">
    <form name="ResetStudPass" style="max-width:60%; margin:0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">Password Code</div>
            <div class="panel-body">

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>New Password</label>
                        <input type="password" required name="Passcode" ng-model="newpassword" ng-pattern="re">

                        <div ng-messages="ResetStudPass.Passcode.$error">
                            <div ng-message="required">Require a value</div>
                            <div ng-message="pattern">Minimum 8 characters at least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Confirm Password</label>
                        <input type="password" required name="confirmpass" ng-model="confirmpassword">
                        <div ng-messages="ResetStudPass.confirmpass.$error">
                            <div ng-message="required">Require a value</div>
                        </div>
                    </md-input-container>
                </div>
                

                

                <md-button class="add-tab md-primary md-raised" ng-click="newpass()" ng-disabled="!newpassword||!confirmpassword" type="submit" style="margin-right: 0;">Submit</md-button>
            </div>
        </div>
    </form>
</div>



@section scripts{
    <script type="text/javascript">

        App.controller('ResetPasssword', ['$scope', '$http', 'jsonFilter', '$location', function ($scope, $http, jsonFilter, $location) {
            $scope.re = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^_()&*-]).{8,}$/;
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.newpass = function () {
           
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'

                };
                var updatedPassword = JSON.stringify({ newpass: $scope.newpassword });

                
                    $http.post("/userAuthentication/actionsUpdatePassword", updatedPassword, options)
               .success(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);

                   if (data.Result == "ERROR") {
                       toastr.error(data.Message, "");
                       return;
                   }

                   logResult("SUCCESS", data, status, header, config);
                   window.location.href = "/userAuthentication/Authenticate";

               })
               .error(function (data, status, header, config) {
                   alert("Error");
                   logResult("SUCCESS", data, status, header, config);
               });
                }


               
           

        }]);
</script>



    
    }

