﻿
@{
    ViewBag.Title = "ResetPass";
}

<h2>Enter Given Code</h2>

<div ng-controller="ForgotPass" layout="column" ng-cloak>
    <form name="ResetStudPass" style="max-width:60%; margin:0 auto">
        <div class="panel panel-default">
            <div class="panel-heading">Password Code</div>
            <div class="panel-body">
                <md-input-container>
                    <label>Reset Code</label>
                    <input required name="Passcode" ng-model="UserPasscode">
                    <div ng-messages="ResetStudPass.Passcode.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-button class="add-tab md-primary md-raised" ng-click="SendConfrimationLink()" ng-disabled="!UserPasscode" type="submit" style="margin-right: 0;">Submit</md-button>
            </div>
        </div>
    </form>




</div>
@section scripts
{
    <script type="text/javascript">

        App.controller('ForgotPass', ['$scope', '$http', 'jsonFilter', '$location', function ($scope, $http, jsonFilter, $location) {
            $scope.UserPasscode;
            $scope.SendConfrimationLink = function () {
                var options = {
                    headers: { 'Accept': 'aaplication/Json' },
                    dataType: 'json'
                }
                var resetpasscode = JSON.stringify({
                    Passcode: $scope.UserPasscode,
                 
                });
                $http.post("/userAuthentication/ValidateKeyCode", resetpasscode, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert("Invalid Code")
                    }
                    window.location.href = data.ppp;
                })
               .error(function (data, status, header, config) {
                   alert("Error");
                   logResult("SUCCESS", data, status, header, config);
               });
            };


        }]);
    </script>
}