﻿
@{
    ViewBag.Title = "Index";
}
<style>
#well1 {
    height: 15%; /*fall back for IE8, Safari 5.1, Opera Mini and pre-4.4 Android browsers*/
    height: calc(15% - 20px);
    overflow: hidden; /*better to decide how you want to handle this than to let the browser decide*/
}
#well2 {
    height: 70%;
    margin-bottom: 0;
    overflow: auto;
}
</style>

<div ng-controller="IsLoginStudentUser" ng-init="GetMyProfile()">
    <div class="col-md-12">
        <div>
            @*class="container full-height"*@
            <div>
                @*class="row full-height"*@
                <div class="col-md-10 full-height">
                    <div class="well" id="well1"><label>Announcement</label></div>
                    <div class="well" id="well2">
                        <div class="list-group" ng-repeat="x in AnnoucementList">
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">From:<label>{{(smuserList|filter:{'InID':x.InID}:true)[0].Name }}</label></h4>
                                <p class="list-group-item-text">Message:{{x.Announcement}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <h3>Personal Information</h3>
        <div ng-repeat="mypBg in forConfirm">
            <div class="form-group" ng-if="mypBg.Status ==='For Confirmation'">
                <div class="col-md-10">
                    <label>First name:</label>
                    <input type="text" class="form-control" ng-model="mypBg.FirstName" />
                </div>
                <div class="col-md-10">
                    <label>Middle name:</label>
                    <input type="text" class="form-control" ng-model="mypBg.MiddleName" />
                </div>
                <div class="col-md-10">
                    <label>Last name:</label>
                    <input type="text" class="form-control" ng-model="mypBg.LastName" />
                </div>
                <div class="col-md-10">
                    <label>Email:</label>
                    <input type="text" class="form-control" ng-model="mypBg.Email" />
                </div>
                <div class="col-md-10">
                    <label>Date of Birth:</label>
                    <input type="text" class="form-control" ng-model="mypBg.DateOfBirth" />
                </div>
                <div class="col-md-6">
                    <label>Religion:</label>
                    <select class="form-control" ng-model="mypBg.ReligionID" ng-options="religion.ReligionID as religion.Name for religion in GetReligionList | orderBy:'Name'" required>
                        <option>--SELECT--</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Status:</label>
                    <select class="form-control" ng-model="mypBg.MaritalStatusID" ng-options="maritalstatu.MaritalStatusID as maritalstatu.Name for maritalstatu in maritalstatus">
                        <option>--SELECT--</option>
                    </select>
                </div>
                <div class="col-md-6">

                    <div class="col-md-7">

                        <label>Gender:</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="mypBg.Gender" name="gender" value="Male">Male
                        </label>

                    </div>
                    <div class="col-md-7">

                        <label class="radio-inline">
                            <input type="radio" ng-model="mypBg.Gender" name="gender" value="Female">Female
                        </label>

                    </div>

                </div>
                <div class="col-md-10">
                    <label>Place Of Birth:</label>
                    <input type="text" class="form-control" ng-model="mypBg.PlaceOfBirth" />
                </div>
                <div class="col-md-10">
                    <label>Nationality:</label>
                    <input type="text" class="form-control" ng-model="mypBg.Nationality" />
                </div>
                <div class="col-md-10">
                    <label>Height(Inch):</label>
                    <input type="text" class="form-control" ng-model="mypBg.Height" />
                </div>
                <div class="col-md-10">
                    <label>Weight(Kg):</label>
                    <input type="text" class="form-control" ng-model="mypBg.Weight" />
                </div>
                <div class="col-md-10">
                    <label>Annual Aggregate Family Income:</label>
                    <input type="text" class="form-control" ng-model="mypBg.AggregiateFamilyIncome" />
                </div>
                <div ng-repeat="con in myContacts">
                    <div class="col-md-10">
                        <label>{{con.Type}}:</label>
                        <input type="text" class="form-control" ng-model="con.ContactNumber1" />
                    </div>
                </div>
                <div ng-repeat="aca in myAcadBgs">
                    <div class="col-md-7">
                        <label>High School Name:</label>
                        <input type="text" class="form-control" ng-model="aca.HighSchoolName" />
                        
                    </div>
                    <div class="col-md-7">
                        <label>Section:</label>
                        
                        <input type="text" class="form-control" ng-model="aca.Section" />
                    </div>
                    <div class="col-md-7">
                        <label>School Address:</label>
                  
                        <input type="text" class="form-control" ng-model="aca.CompleteAddress" />
                    </div>
                    <div class="col-md-7">
                        <label>Name Of Principal:</label>
                       
                        <input type="text" class="form-control" ng-model="aca.NameOfPrincipal" />
                    </div>
                    <div class="col-md-7">
                        <label>School Telephone:</label>
                       
                        <input type="text" class="form-control" ng-model="aca.SchoolTelno" />
                    </div>
                </div>
                <div class="col-md-10">
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>Subject</td>
                                <td>Grade</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="grs in myGrades">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UpdateGrade($index)" ng-show="grs.editsubjgrade"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditGrade($index)" ng-show="grs.editsubjgrade"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditGrade($index)" ng-hide="grs.editsubjgrade"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>                
                                </td>
                                <td>
                                    {{grs.Subject}}
                                </td>
                                <td>
                                    <div ng-switch="grs.editsubjgrade">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="grs.Grade" />
                                        </div>
                                        <div ng-switch-default>
                                            {{grs.Grade}}
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-repeat="x in myOwnGwa">
                    <div class="col-md-8">
                        <label>GWA:</label>
                        <input type="text" class="form-control" ng-model="x.GWA" />
                    </div>
                </div>
                <div class="col-md-10">
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>Organization</td>
                                <td>Position</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="org in myOrgs">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UpdateOrganization($index)" ng-show="org.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditOrg($index)" ng-show="org.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditOrg($index)" ng-hide="org.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                </td>
                                <td>
                                    <div ng-switch="org.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="org.Organization" />
                                        </div>
                                        <div ng-switch-default>
                                            {{org.Organization}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div ng-switch="org.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="org.PositionHeld" />
                                        </div>
                                        <div ng-switch-default>
                                            {{org.PositionHeld}}
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10">
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                            
                                <td>Name of Award</td>
                                <td>Level</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="award in myAwards">
                                <td>@*award.IsEdit*@
                                    <a class="btn btn-sm btn-success" ng-click="UpdateAward($index)" ng-show="editaward"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditAward($index)" ng-show="editaward"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditAward($index)" ng-hide="editaward"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                </td>
                              
                                <td>
                                    <div ng-switch="editaward">
                                        <div ng-switch-when="true">
                                            <input type="text" class="form-control" ng-model="award.NameOfAward" />
                                        </div>

                                        <div ng-switch-default>
                                            {{award.NameOfAward}}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div ng-switch="editaward">
                                        <div ng-switch-when="true">
                                            <select class="form-control" required="required" ng-model="award.AALID" ng-options="academicawardlevel.AALID as academicawardlevel.Name for academicawardlevel in AcademicAwardLevels"></select>

                                        </div>
                                        <div ng-switch-default>
                                            {{(AcademicAwardLevels|filter:{'AALID':award.AALID}:true)[0].Name }}
                                        </div>
                                    </div>
                                   
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                @*Update Attachment for 2x2 ID*@
                <div class="col-md-10">
                    <label>2x2 ID</label>
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>Filename</td>
                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in MyAttach">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UploadFile();cancelEditAttach($index);" ng-show="x.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditAttach($index)" ng-show="x.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditAttach($index)" ng-hide="x.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                </td>
                                <td>
                                    <div ng-switch="x.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="file" id="file" name="file" onchange="angular.element(this).scope().setFile(this)" class="btn btn-warning" />
                                        </div>
                                        <div ng-switch-default>
                                            {{x.FileName}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*Update Attachment for REPORT CARD*@
                <div class="col-md-10">
                    <label>Report Card</label>
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>Filename</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="y in MyAttachReportcard">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UploadFilereport()" ng-show="y.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditAttachreport($index)" ng-show="y.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditAttachreport($index)" ng-hide="y.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                </td>
                                <td>
                                    <div ng-switch="y.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="file" id="filereport" name="filereport" onchange="angular.element(this).scope().setFilereport(this)" class="btn btn-warning" />
                                        </div>
                                        <div ng-switch-default>
                                            {{y.FileName}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*Update Attachment for ITR*@
                <div class="col-md-10">
                    <label>Attachment for ITR</label>
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>Filename</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="z in MyITR">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UploadFileitr()" ng-show="z.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditAttachitr($index)" ng-show="z.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditAttachitr($index)" ng-hide="z.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                </td>
                                <td>
                                    <div ng-switch="z.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="file" id="fileitr" name="fileitr" onchange="angular.element(this).scope().setFileitr(this)" class="btn btn-warning" />
                                        </div>
                                        <div ng-switch-default>
                                            {{z.FileName}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*Update Attachment for House Sketch*@
                <div class="col-md-12">
                    <label>House Sketch</label>
                    <table class="table table-striped table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td>Filename</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in MySketch">
                                <td>
                                    <a class="btn btn-sm btn-success" ng-click="UploadFilesketch();cancelEditAttachsketchs($index);" ng-show="a.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                    <a class="btn btn-sm btn-warning" ng-click="cancelEditAttachsketchs($index)" ng-show="a.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>
                                    <a class="btn btn-sm btn-warning" ng-click="toggleEditAttachsketch($index)" ng-hide="a.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>
                                </td>
                                <td>
                                    <div ng-switch="a.IsEdit">
                                        <div ng-switch-when="true">
                                            <input type="file" id="filesketch" name="filesketch" onchange="angular.element(this).scope().setFilesketch(this)" class="btn btn-warning" />
                                        </div>
                                        <div ng-switch-default>
                                            {{a.FileName}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             <div class="col-md-10">
                 <label>Family Member</label>
                 <table class="table table-striped table-hover table-striped table-condensed">
                     <thead>
                         <tr>
                             <td>Action</td>
                             <td>FBID</td>
                             <td>Family Member Name</td>
                             <td>Relationship</td>
                             <td>Date of Birth</td>
                             <td>Educational Attainment</td>
                             <td>Last School Attended</td>
                             <td>Nature of Work</td>
                             <td>Company</td>
                             <td>Marital Status</td>


                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="fbg in myFamBgs">
                             <td>
                                 <a class="btn btn-sm btn-success" ng-click="UpdateFmbg(myFamBgs.indexOf(fbg))" ng-show="fbg.editfbg"><i class="glyphicon glyphicon-save"> </i>Save</a>
                                 <a class="btn btn-sm btn-warning" ng-click="cancelEditFmbg($index)" ng-show="fbg.editfbg"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                                 <a class="btn btn-sm btn-warning" ng-click="toggleEditFmbg($index)" ng-hide="fbg.editfbg"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                                 <a class="btn btn-sm btn-danger" ng-click="deleteFmbg($index)" ng-hide="fbg.editfbg"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                             </td>
                             <td>
                                 {{fbg.FBID}}
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <input type="text" class="form-control" ng-model="fbg.MemberName" />
                                     </div>
                                     <div ng-switch-default>
                                         {{fbg.MemberName}}
                                     </div>
                                 </div>
                                 
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <select class="form-control" ng-model=" fbg.FMID" ng-options="familymember.FMID as familymember.Name for familymember in GetFamilyMembersss">
                                             <option>--SELECT---</option>
                                         </select>
                                     </div>
                                     <div ng-switch-default>
                                         {{(GetFamilyMembersss|filter:{'FMID': fbg.FMID}:true)[0].Name }}
                                     </div>
                                 </div>
                               
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <input type="date" class="form-control" ng-model="fbg.DateOfBirth" />
                                     </div>
                                     <div ng-switch-default>
                                         {{fbg.DateOfBirth}}
                                     </div>
                                 </div>
                                 
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <select class="form-control" ng-model="fbg.EAID" ng-options="educationalattainment.EAID as educationalattainment.Name for educationalattainment in EducAttains">
                                             <option>--SELECT---</option>
                                         </select>
                                     </div>
                                     <div ng-switch-default>
                                         {{(EducAttains|filter:{'EAID':fbg.EAID}:true)[0].Name }}
                                     </div>
                                 </div>
                                
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <input type="text" class="form-control" ng-model="fbg.LastSchoolAttended" />
                                     </div>
                                     <div ng-switch-default>
                                         {{fbg.LastSchoolAttended}}
                                     </div>
                                 </div>
                                
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <input type="text" class="form-control" ng-model="fbg.NatureOfWork" />
                                     </div>
                                     <div ng-switch-default>
                                         {{fbg.NatureOfWork}}
                                     </div>
                                 </div>
                          
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <input type="text" class="form-control" ng-model="fbg.Company" />
                                     </div>
                                     <div ng-switch-default>
                                         {{fbg.Company}}
                                     </div>
                                 </div>
                                
                             </td>
                             <td>
                                 <div ng-switch="fbg.editfbg">
                                     <div ng-switch-when="true">
                                         <select class="form-control" ng-model="fbg.MaritalStatusID" ng-options="maritalstatu.MaritalStatusID as maritalstatu.Name for maritalstatu in maritalstatus">
                                             <option>--SELECT Marital Status--</option>
                                         </select>
                                     </div>
                                     <div ng-switch-default>
                                         {{(maritalstatus|filter:{'MaritalStatusID':fbg.MaritalStatusID}:true)[0].Name }}
                                     </div>
                                 </div>
                              
                             </td>
                         </tr>
                     </tbody>
                 </table>
                </div>                                                                                                                                                                                                                                                   <div class="col-md-10">
                      
                   </div>
                <div class="col-md-7" ng-if="mypBg.Status ==='For Confirmation'">
                    <button class="btn btn-success" ng-click="StudConfirm($index)">Confirm</button>
                </div>
            </div>
            <div ng-if="mypBg.Status ==='For Exam'">

            </div>
        </div>
    </div>
    <div class="col-md-12">
      

       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>View Whole Details</th>
                    <th>Name</th>
                    <th>Status</th>
                   
                    
               
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in myPartialPerBg">
                    <td><a class="btn btn-sm btn-info" ng-click="SelectStud($index)" data-toggle="modal" data-target="#myOwnDetailsModal"><i class="glyphicon glyphicon-eye-open"> </i> View</a></td>
                    <td>{{p.FirstName}},{{p.MiddleName}},{{p.LastName}}</td>
                    <td>{{p.Status }}</td>
                 
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myOwnDetailsModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Personal Information </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Personal Background</label></div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="stude in myPerBg">
                                <div class="col-md-17">
                                    <div class="col-md-7">
                                        <label>Applicant ID:</label>
                                        {{stude.SID}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Application ID:</label>
                                        {{stude.ApplicationID}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Full name:</label>
                                        {{stude.FirstName}},{{stude.LastName}},{{stude.MiddleName}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Religion:</label>
                                        {{(GetReligionList|filter:{'ReligionID':stude.ReligionID}:true)[0].Name }} 
                                    </div>
                                    <div class="col-md-7">
                                        <label>Email:</label>
                                        {{stude.Email}}

                                    </div>
                                    <div class="col-md-7">
                                        <label>Date Of Birth:</label>
                                        {{stude.DateOfBirth}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>MaritalStatus:</label>                       
                                        {{(maritalstatus|filter:{'MaritalStatusID':stude.MaritalStatusID}:true)[0].Name }}
                                        
                                    </div>
                                    <div class="col-md-7">
                                        <label>Gender:</label>
                                        {{stude.Gender}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Place of Birth:</label>
                                        {{stude.PlaceOfBirth}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Nationality:</label>
                                        {{stude.Nationality}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Height(Inch):</label>
                                        {{stude.Height}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Weight(Kg):</label>
                                        {{stude.Weight}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Aggregate Annual Family Income:</label>
                                        {{stude.AggregiateFamilyIncome}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Application Date:</label>
                                        {{stude.DatePosted}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Present Address:</label>
                                        {{stude.HomeAddress}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Permanent Address:</label>
                                        {{stude.PermanentAddress}}
                                    </div>
                                    <div class="col-md-7">
                                        <label>Confirmation Date:</label>
                                        {{stude.ConfirmationDate}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-heading">Contact Information</div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="conat in myContacts">
                                <div class="col-md-17">
                                    <div class="col-md-7">

                                        <label>{{conat.Type}}:</label>
                                        {{conat.ContactNumber1}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Academic Background</label> </div>
                        <div class="panel-body">
                            <div class="col-md-12" ng-repeat="acadbg in myAcadBgs">
                                <div class="col-md-7">
                                    <label>High School Name:</label>
                                    {{acadbg.HighSchoolName}}
                                </div>
                                <div class="col-md-7">
                                    <label>Section:</label>
                                    {{acadbg.Section}}
                                </div>
                                <div class="col-md-7">
                                    <label>School Address:</label>
                                    {{acadbg.CompleteAddress}}
                                </div>
                                <div class="col-md-7">
                                    <label>Name Of Principal:</label>
                                    {{acadbg.NameOfPrincipal}}
                                </div>
                                <div class="col-md-7">
                                    <label>School Telephone:</label>
                                    {{acadbg.SchoolTelno}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading">Latest Academic Grade</div>
                        <div class="panel-body">

                            <div class="col-md-17">
                                <div class="col-md-7">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="studeGr in myGrades">
                                                <td>{{studeGr.Subject}}</td>
                                                <td>{{studeGr.Grade}}</td>
                                            </tr>
                                            <tr ng-repeat="GS in myOwnGwa">
                                                <td><h3><strong>GWA:</strong> {{GS.GWA}}</h3></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>

                        </div>
                        <div class="panel-heading">Organization Held (Current Year)</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Organization name</th>
                                            <th>Position held</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="studeOrg in myOrgs">
                                            <td>{{studeOrg.Organization}}</td>
                                            <td>{{studeOrg.PositionHeld}}</td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>


                        </div>
                        <div class="panel-heading">Academic Awards (Grade 11 and 12)</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name of Awards</th>
                                            <th>Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="awardStud in myAwards ">
                                            <td>{{awardStud.NameOfAward}}</td>
                                            <td>{{(AcademicAwardLevels|filter:{'AALID':awardStud.AALID}:true)[0].Name }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="panel-heading">Academic Tracks</div>
                        <div class="panel-body">



                            <div class="col-md-7">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Grade</th>
                                            <th>Tracks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="awardTRacks in GetTracks ">
                                            <td>{{awardTRacks.GradeNumber}}</td>
                                            <td>{{awardTRacks.AcademicTrack1}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><label>Family Background Information</label></div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name of Member</th>
                                        <th>Relation</th>
                                        <th>Date of Birth</th>
                                        <th>Educational Attainment</th>
                                        <th>Last School Attended</th>
                                        <th>Work</th>
                                        <th>Marital Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fam in myFamBgs">
                                        <td>{{fam.FBID}}</td>
                                        <td>{{fam.MemberName}}</td>
                                        <td>{{(GetFamilyMembersss|filter:{'FMID':fam.FMID}:true)[0].Name }}</td>
                                        <td>{{fam.DateOfBirth}}</td>
                                        <td>{{(EducAttains|filter:{'EAID':fam.EAID}:true)[0].Name }}</td>
                                        <td>{{fam.LastSchoolAttended}}</td>
                                        <td>{{fam.NatureOfWork}}</td>
                                        <td>{{(maritalstatus|filter:{'MaritalStatusID':fam.MaritalStatusID}:true)[0].Name }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Table -->

                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>2x2 Picture Attachment</label></div>
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="AppAttach in myAttachment">

                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{AppAttach.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{AppAttach.FIle}}" target="_blank" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/StudentProfile/MyFileDl/?AppAttchDl={{AppAttach.FIle}}" target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>Report card Attachment</label></div>
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="a in MyReports">

                                <div class="list-group-item">
                                    <div class="row">
                                       <label>{{a.FileName}}</label> 
                                    </div>
                                   <div class="row">
                                       <a href="~/UploadedFiles/{{a.File}}" target="_blank" class="btn btn-info btn-lg">
                                           <span class="glyphicon glyphicon-eye-open"></span> View File
                                       </a>
                                       <a href="/StudentProfile/MyFileDl/?AppAttchDl={{a.File}}" target="_blank" class="btn btn-success btn-lg">
                                           <span class="glyphicon glyphicon-download"></span> Download
                                       </a>
                                   </div>
                                  
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>ITR Attachment</label></div>
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="b in MyITR">

                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{b.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{b.File}}" target="_blank" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/StudentProfile/MyFileDl/?AppAttchDl={{b.File}}" target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>



                              

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><label>House Sketch Attachment</label></div>
                        <div class="panel-body">
                            <div class="list-group" ng-repeat="c in MySketch">

                                <div class="list-group-item">
                                    <div class="row">
                                        <label>{{c.FileName}}</label>
                                    </div>
                                    <div class="row">
                                        <a href="~/UploadedFiles/{{c.File}}" target="_blank" class=" btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> View File
                                        </a>
                                        <a href="/StudentProfile/MyFileDl/?AppAttchDl={{c.File}}" target="_blank" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-download"></span> Download
                                        </a>
                                    </div>

                                </div>
                               

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
                </div>
            </div>
        </div>
    </div>  

</div>
@section scripts
{
    <script type="text/javascript">
        App.controller('IsLoginStudentUser', ['$scope', '$http', 'jsonFilter', '$filter', '$element', function ($scope, $http, jsonFilter, $filter, $element) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.mypBg = null;
            $scope.editaward = false;
            $scope.editsubjgrade = false;
            $scope.GetMyProfile = function () {
                $http.post("/StudentProfile/GetMyOwnPersonalBg")
                .success(function (data, status, header, config) {
                    $scope.GetMyAcadBg();
                    $scope.GetMyPersonalBgComplete();
                    $scope.GetMyPersonalBgConfrim();
                    $scope.GetMyContactList();
                    $scope.GetMyGrades();
                    $scope.GetMyFamilyBg();
                    $scope.GetmyAnnouncement();
                    $scope.GetMyAwards();
                    $scope.GetMyOrgs();
                    $scope.GetFamilyMembers();
                    $scope.GetMaritalStatus();
                    $scope.GetAcademicAwardLevels();
                    $scope.GetEducationalAttainment();
                    $scope.GetMyAttachment();
                    $scope.GetReligion();
                    $scope.GetMyOwnTracks();
                    $scope.GetMyGwa();
                    $scope.MyAttachment();
                    $scope.GetInterviewer();
                    $scope.GetMyReport();
                    $scope.GetMySketch();
                    $scope.GetMyITR();
                    $scope.MyAttachmentReportCArd();
                    $scope.myPartialPerBg = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetmyAnnouncement =  function()
            {
                $http.post("/StudentProfile/GetMyOwnAnnouncement")
               .success(function (data, status, header, config) {

                   $scope.AnnoucementList= data;
                   logResult("SUCCESS", data, status, header, config);
               })
               .error(function (data, status, header, config) {
                   logResult("SUCCESS", data, status, header, config);
               });
            }
            $scope.GetMyAcadBg = function () {
                $http.post("/StudentProfile/GetMyOwnAcademicBg")
                .success(function (data, status, header, config) {
                    
                    $scope.myAcadBgs = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyPersonalBgComplete = function () {
                $http.post("/StudentProfile/GetMyOwnPersonalBg")
                .success(function (data, status, header, config) {
                  
                    $scope.myPerBg = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyPersonalBgConfrim = function () {
                $http.post("/StudentProfile/GetMyOwnPersonalBg")
                .success(function (data, status, header, config) {

                    $scope.forConfirm = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyContactList = function () {
                $http.post("/StudentProfile/GetMyOwnContact")
                .success(function (data, status, header, config) {

                    $scope.myContacts = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyGrades = function () {
                $http.post("/StudentProfile/GetMyOwnGrades")
                .success(function (data, status, header, config) {

                    $scope.myGrades = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyGwa = function () {
                $http.post("/StudentProfile/GetMyOwnGwa")
                .success(function (data, status, header, config) {

                    $scope.myOwnGwa = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyAwards = function () {
                $http.post("/StudentProfile/GetMyAwards")
                .success(function (data, status, header, config) {

                    $scope.myAwards = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }      
            $scope.GetMyFamilyBg = function () {

                $http.post("/StudentProfile/GetMyFamilyMember")
                .success(function (data, status, header, config) {

                    $scope.myFamBgs = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyOrgs = function () {
                $http.post("/StudentProfile/GetMyOrganization")
                .success(function (data, status, header, config) {

                    $scope.myOrgs = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////GetFamilyMember
            $scope.GetFamilyMembers = function () {
                $http.post("/ShowMaintenance/GetFamilyMembers")
                .success(function (data, status, header, config) {

                    $scope.GetFamilyMembersss = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //Get


            $scope.GetMaritalStatus = function () {
                $http.post("/ShowMaintenance/GetMaritalStatus")
                .success(function (data, status, header, config) {

                    $scope.maritalstatus = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////Get Religion
            $scope.GetReligion = function () {
                $http.post("/ShowMaintenance/Getreligion")
                .success(function (data, status, header, config) {

                    $scope.GetReligionList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyOwnTracks = function () {
                $http.post("/StudentProfile/GetMyownTracks")
                .success(function (data, status, header, config) {

                    $scope.GetTracks = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetAcademicAwardLevels = function () {
                $http.post("/ShowMaintenance/GetAcademicAwardLevel")
                .success(function (data, status, header, config) {

                    $scope.AcademicAwardLevels = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////Get EducationalAttainemnt
            $scope.GetEducationalAttainment = function () {
                $http.post("/ShowMaintenance/GetEducationalAttainment")
                .success(function (data, status, header, config) {

                    $scope.EducAttains = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //////Get EducationalAttainemnt
            $scope.GetMyAttachment = function () {
                $http.post("/StudentProfile/GetAllAppAttach")
                .success(function (data, status, header, config) {

                    $scope.myAttachment = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyReport = function () {
                $http.post("/StudentProfile/getMyReportCard")
                .success(function (data, status, header, config) {

                    $scope.MyReports = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMyITR = function () {
                $http.post("/StudentProfile/getMyITR")
                .success(function (data, status, header, config) {

                    $scope.MyITR = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.GetMySketch = function () {
                $http.post("/StudentProfile/getMySketch")
                .success(function (data, status, header, config) {

                    $scope.MySketch = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.StudConfirm = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
              
                var ConfirmationData = JSON.stringify($scope.forConfirm[index]);
                $http.post("/StudentProfile/studConfirm", ConfirmationData, options)
               .success(function (data, status, header, config) {
                   if (data.Result == "ERROR") {
                       alert(data.Message);
                       return;
                   }
                   window.location.reload();
                   alert("Your Account Has Been Confirmed");
                   logResult("SUCCESS", data, status, header, config);
               })
               .error(function (data, status, header, config) {

                   logResult("SUCCESS", data, status, header, config);
               });
            }
            //TOGGLE EDIT
            $scope.toggleEditGrade = function (index) {
                //$scope.myGrades[index].IsEdit = true;
                $scope.myGrades[index].editsubjgrade = true;
            };
            $scope.cancelEditGrade = function (index) {
                $scope.myGrades[index].editsubjgrade = false;
            };

            $scope.toggleEditOrg = function (index) {
                $scope.myOrgs[index].IsEdit = true;
            };
            $scope.cancelEditOrg = function (index) {
                $scope.myOrgs[index].IsEdit = false;
            };

            $scope.toggleEditAward = function (index) {
                $scope.editaward = true;
            };
            $scope.cancelEditAward = function (index) {
                //$scope.myAwards[index].IsEdit = false;
                $scope.editaward = false;
            };

           
            //Update Function
            $scope.UpdateGrade = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var AcademicGrData = JSON.stringify($scope.myGrades[index]);
                $http.post("/StudentProfile/UpdateAcademicGrade", AcademicGrData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    //$scope.myGrades[index] = data.Record;
                    $scope.myGrades[index].editsubjgrade = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.UpdateOrganization = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var AcademicOrgData = JSON.stringify($scope.myOrgs[index]);
                $http.post("/StudentProfile/UpdateOrganization", AcademicOrgData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    $scope.myOrgs[index] = data.Record;
                    $scope.myOrgs[index].IsEdit = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.UpdateAward = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var AcademicAwardData = JSON.stringify($scope.myAwards[index]);
                $http.post("/StudentProfile/UpdateAward", AcademicAwardData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    //$scope.myAwards[index] = data.Record;
                    $scope.editaward = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.UpdateAttachments = function ()
            {
                $scope.UploadFile();
            }
            //$scope.UpdateAttachment = function (index) {
            //    var options = {
            //        headers: { 'Accept': 'application/json' },
            //        dataType: 'json'
            //    };
            //    var AcademicAwardData = JSON.stringify($scope.myAwards[index]);
            //    $http.post("/StudentProfile/UpdateAward", AcademicAwardData, options)
            //    .success(function (data, status, header, config) {
            //        if (data.Result == "ERROR") {
            //            alert(data.Message);
            //            return;
            //        }
            //        $scope.myAwards[index] = data.Record;
            //        $scope.myAwards[index].IsEdit = false;
            //        logResult("SUCCESS", data, status, header, config);
            //    })
            //    .error(function (data, status, header, config) {

            //        logResult("SUCCESS", data, status, header, config);
            //    });
            //}

            //////// FOR 2X2
            $scope.toggleEditAttach = function (index) {
                $scope.MyAttach[index].IsEdit = true;
            };
            $scope.cancelEditAttach = function (index) {
                $scope.MyAttach[index].IsEdit = false;
            };
            $scope.MyAttachment = function () {
                $http.post("/StudentProfile/getMyAttachment")
                .success(function (data, status, header, config) {

                    $scope.MyAttach = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            $scope.fileList = [];
            $scope.curFile;
            $scope.ImageProperty = {
                file: ''
            }
            $scope.setFile = function (element) {
                $scope.fileList = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImageProperty.file = files[i];

                    $scope.fileList.push($scope.ImageProperty);
                    $scope.ImageProperty = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFile = function () {


                for (var i = 0; i < $scope.fileList.length; i++) {

                    $scope.UploadFileIndividual($scope.fileList[i].file,
                                                $scope.fileList[i].file.name,
                                                $scope.fileList[i].file.type,
                                                $scope.fileList[i].file.size,
                                                i);
                }
                window.location.reload();
            }
            $scope.UploadFileIndividual = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/StudentProfile/UploadedEditPic/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            //////// FOR REPORTCARD
            $scope.toggleEditAttachreport = function (index) {
                $scope.MyAttachReportcard[index].IsEdit = true;
            };
            $scope.cancelEditAttachreport = function (index) {
                $scope.MyAttachReportcard[index].IsEdit = false;
            };
            $scope.MyAttachmentReportCArd = function () {
                $http.post("/StudentProfile/getMyReportCard")
                .success(function (data, status, header, config) {

                    $scope.MyAttachReportcard = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.fileListreport = [];
            $scope.curFilereport;
            $scope.ImagePropertyreport = {
                filereport: ''
            }
            $scope.setFilereport = function (element) {
                $scope.fileListreport = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImagePropertyreport.filereport = files[i];

                    $scope.fileListreport.push($scope.ImagePropertyreport);
                    $scope.ImagePropertyreport = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFilereport = function () {


                for (var i = 0; i < $scope.fileListreport.length; i++) {

                    $scope.UploadFileIndividualreport($scope.fileListreport[i].filereport,
                                                $scope.fileListreport[i].filereport.name,
                                                $scope.fileListreport[i].filereport.type,
                                                $scope.fileListreport[i].filereport.size,
                                                i);
                }
                window.location.reload();
            }
            $scope.UploadFileIndividualreport = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/StudentProfile/UploadedEditReportCard/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            /////// FOR ITR
            $scope.toggleEditAttachitr = function (index) {
                $scope.MyITR[index].IsEdit = true;
            };
            $scope.cancelEditAttachitr = function (index) {
                $scope.MyITR[index].IsEdit = false;
            };
            $scope.fileListitr = [];
            $scope.curFileitr;
            $scope.ImagePropertyitr = {
                fileitr: ''
            }
            $scope.setFileitr = function (element) {
                $scope.fileListitr = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImagePropertyitr.fileitr = files[i];

                    $scope.fileListitr.push($scope.ImagePropertyitr);
                    $scope.ImagePropertyitr = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFileitr = function () {


                for (var i = 0; i < $scope.fileListitr.length; i++) {

                    $scope.UploadFileIndividualitr($scope.fileListitr[i].fileitr,
                                                $scope.fileListitr[i].fileitr.name,
                                                $scope.fileListitr[i].fileitr.type,
                                                $scope.fileListitr[i].fileitr.size,
                                                i);
                }
                window.location.reload();
            }
            $scope.UploadFileIndividualitr = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/StudentProfile/UploadedEdititr/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            ////// FOR HOUSE SKETCH
            $scope.toggleEditAttachsketch = function (index) {
                $scope.MySketch[index].IsEdit = true;
            };
            $scope.cancelEditAttachsketchs = function (index) {
                $scope.MySketch[index].IsEdit = false;
            };
            $scope.fileListsketch = [];
            $scope.curFilesketch;
            $scope.ImagePropertysketch = {
                filesketch: ''
            }
            $scope.setFilesketch = function (element) {
                $scope.fileListsketch = [];
                // LOOP NG File
                var files = element.files;
                for (var i = 0; i < files.length; i++) {
                    $scope.ImagePropertysketch.filesketch = files[i];

                    $scope.fileListsketch.push($scope.ImagePropertysketch);
                    $scope.ImagePropertysketch = {};
                    $scope.$apply();

                }
            }
            $scope.UploadFilesketch = function () {


                for (var i = 0; i < $scope.fileListsketch.length; i++) {

                    $scope.UploadFileIndividualsketch($scope.fileListsketch[i].filesketch,
                                                $scope.fileListsketch[i].filesketch.name,
                                                $scope.fileListsketch[i].filesketch.type,
                                                $scope.fileListsketch[i].filesketch.size,
                                                i);
                }
                window.location.reload();
            }
            $scope.GetInterviewer = function () {
                $http.post("/ShowMaintenance/GetInterviewer")
                .success(function (data, status, header, config) {
                    $scope.smuserList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            $scope.UploadFileIndividualsketch = function (fileToUpload, name, type, size, index) {

                var reqObj = new XMLHttpRequest();

                reqObj.open("POST", "/StudentProfile/UploadedEdithousesketch/", true);
                reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                reqObj.setRequestHeader('X-File-Name', name);
                reqObj.setRequestHeader('X-File-Type', type);
                reqObj.setRequestHeader('X-File-Size', size);


                reqObj.send(fileToUpload);

            }
            

            //Update Function
            $scope.UpdateFmbg = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
               
                
               
                var fmbgData = JSON.stringify($scope.myFamBgs[index]);
               
                $http.post("/StudentProfile/UpdateFamilyBg", fmbgData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    //$scope.myFamBgs[index] = data.Record;
                    $scope.myFamBgs[index].editfbg = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //TOGGLE EDIT
            $scope.toggleEditFmbg = function (index) {
                $scope.myFamBgs[index].editfbg = true;
            };
            //CANCEL EDIT
            $scope.cancelEditFmbg = function (index) {
                $scope.myFamBgs[index].editfbg = false;
            };
            //DELETE Famlybg
            $scope.deleteFmbg = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var fmbgData = JSON.stringify($scope.myFamBgs[index]);

                $http.post("/StudentProfile/DeleteFamBg", fmbgData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.myFamBgs.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };
        }]);
            
    </script>
    
    }