﻿
@{
    ViewBag.Title = "Index";
}

<div ng-controller="AwardAcadLvlController" ng-init="GetAcadWardlvl()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Academic Level
                </a>
            </div>


        </div>

    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Academic Level</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Name:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newAcadWardlvl.Name" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="AddAcadWardlvl()" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i> Add</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <table class="table table-striped table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Action</td>
                        <td>ID</td>
                        <td>NAME</td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lvl in AcadWardlvlList">
                        <td>
                            <a class="btn btn-sm btn-success" ng-click="UpdateAcadWardlvl($index)" ng-show="lvl.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                            <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="lvl.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                            <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="lvl.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                            <a class="btn btn-sm btn-danger" ng-click="deleteAcadWardlvl($index)" ng-hide="lvl.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                        </td>
                        <td>
                            {{lvl.AALID}}
                        </td>
                        <td>
                            <div ng-switch="lvl.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="lvl.Name" />
                                </div>
                                <div ng-switch-default>
                                    {{lvl.Name}}
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        App.controller('AwardAcadLvlController', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.newAcadWardlvl = null;
            //GetListOfLevel
            $scope.GetAcadWardlvl = function () {
                $http.post("/ShowMaintenance/GetAcademicAwardLevel")
                .success(function (data, status, header, config) {
                    $scope.AcadWardlvlList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //add Academic Award Level
            $scope.AddAcadWardlvl = function () {
                alert();

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var NewAcadWardlvlData = JSON.stringify($scope.newAcadWardlvl);
                $http.post("/AcademicAwardLevel/InsertAcadAwardlevel", NewAcadWardlvlData, options)

                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {

                        alert(data.Message);
                        return;
                    }
                    $scope.AcadWardlvlList.push(data.Record);
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

            }

            //Update Function
            $scope.UpdateAcadWardlvl = function (index) {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var AcadWardlvlData = JSON.stringify($scope.AcadWardlvlList[index]);
                $http.post("/AcademicAwardLevel/UpdateAcadAwardlevel", AcadWardlvlData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    $scope.AcadWardlvlList[index] = data.Record;
                    $scope.AcadWardlvlList[index].IsEdit = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.AcadWardlvlList[index].IsEdit = true;
            };

            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.AcadWardlvlList[index].IsEdit = false;
            };
            //DELETE interviewer
            $scope.deleteAcadWardlvl = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var AcadWardlvlData = JSON.stringify($scope.AcadWardlvlList[index]);

                $http.post("/AcademicAwardLevel/DeleteAcadAwardlevel", AcadWardlvlData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.AcadWardlvlList.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };
        }]);
    </script>
 
    }