﻿
@{
    ViewBag.Title = "Index";
}
<h2>Religion Maintenance</h2>
<div ng-controller="ReligionControllah" ng-init="GetReligion()">
    <div></div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Religion
                </a>
            </div>


        </div>



    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Religion</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Name:</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" ng-model="newReligions.Name" />
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" ng-click="AddNewReligion()" data-dismiss="modal"><i class="glyphicon glyphicon-plus"> </i> Add</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-lg-12">
            <table class="table table-striped table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <td>Action</td>
                        <td>ID</td>
                        <td>NAME</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="religion in religionList">
                        <td>
                            <a class="btn btn-sm btn-success" ng-click="UpdateReligion($index)" ng-show="religion.IsEdit"><i class="glyphicon glyphicon-save"> </i>Save</a>
                            <a class="btn btn-sm btn-warning" ng-click="cancelEdit($index)" ng-show="religion.IsEdit"><i class="glyphicon glyphicon-refresh"> </i> Cancel</a>

                            <a class="btn btn-sm btn-warning" ng-click="toggleEdit($index)" ng-hide="religion.IsEdit"><i class="glyphicon glyphicon-pencil"> </i> Edit</a>

                            <a class="btn btn-sm btn-danger" ng-click="deleteReligion($index)" ng-hide="religion.IsEdit"><i class="glyphicon glyphicon-trash"> </i> Delete</a>
                        </td>
                        <td>
                            {{religion.ReligionID}}
                        </td>
                        <td>
                            <div ng-switch="religion.IsEdit">
                                <div ng-switch-when="true">
                                    <input type="text" class="form-control" ng-model="religion.Name" />
                                </div>
                                <div ng-switch-default>
                                    {{religion.Name}}
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">


        App.controller('ReligionControllah', ['$scope', '$http', 'jsonFilter', function ($scope, $http, jsonFilter) {
            var logResult = function (str, data, status, header, config) {
                console.log(data);
            }
            $scope.newReligions = null;

            //get InterviewerList
            $scope.GetReligion = function ()
            {
                $http.post("/ShowMaintenance/Getreligion")
                .success(function (data, status, header, config) {
                    $scope.religionList = data;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });
            }

            //add Interviewer
            $scope.AddNewReligion = function ()
            {
            
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var NewReligionsData = JSON.stringify($scope.newReligions);
                $http.post("/Religion/AddReligion", NewReligionsData, options)

                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {

                        alert(data.Message);
                        return;
                    }
                    $scope.religionList.push(data.Record);
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function (data, status, header, config) {
                    logResult("SUCCESS", data, status, header, config);
                });

            }

            //Update Function
            $scope.UpdateReligion = function (index)
            {
                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };
                var ReligionsData = JSON.stringify($scope.religionList[index]);
                $http.post("/Religion/UpdateReligion", ReligionsData, options)
                .success(function (data, status, header, config) {
                    if (data.Result == "ERROR") {
                        alert(data.Message);
                        return;
                    }
                    $scope.religionList[index] = data.Record;
                    $scope.religionList[index].IsEdit = false;
                    logResult("SUCCESS", data, status, header, config);
                })
                .error(function(data, status, header, config){

                    logResult("SUCCESS", data, status, header, config);
                });
            }
            //TOGGLE EDIT
            $scope.toggleEdit = function (index) {
                $scope.religionList[index].IsEdit = true;
            };
            //CANCEL EDIT
            $scope.cancelEdit = function (index) {
                $scope.religionList[index].IsEdit = false;
            };
            //DELETE interviewer
            $scope.deleteReligion = function (index) {

                var options = {
                    headers: { 'Accept': 'application/json' },
                    dataType: 'json'
                };

                var ReligionsData = JSON.stringify($scope.religionList[index]);

                $http.post("/Religion/DeleteReligion", ReligionsData, options)
             .success(function (data, status, header, config) {


                 if (data.Result == "ERROR") {
                     alert(data.Message);
                     return;
                 }


                 $scope.religionList.splice(index, 1);

                 logResult("SUCCESS", data, status, header, config);
             })
             .error(function (data, status, header, config) {

                 logResult("SUCCESS", data, status, header, config);
             });


            };



        }]);
    </script>
}

